<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html  xmlns:th="http://www.thymeleaf.org" lang="">
    <head>
        <title>ArtSync</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css?v=8}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style-forum.css?v=5}"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r126/three.min.js" integrity="sha512-n8IpKWzDnBOcBhRlHirMZOUvEq2bLRMuJGjuVqbzUJwtTsgwOgK5aS0c1JA647XWYfqvXve8k3PtZdzpipFjgg==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.9/dat.gui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/TextPlugin.min.js"></script>
        <!--    libs for stomp and sockjs-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    </head>

    <body class="body-content">

    <!--Header-->
    <nav th:replace="${session.user == null} ? ~{fragment/fragments :: headerFragment} : ~{fragment/fragments :: headerUserFragment}"></nav>

    <!--Content-->
    <button id="expandButton"><i class="bi bi-caret-right"></i></button>
    <div class="content">
        <div class="verticalHeader">
            <h4 th:if="${session.user != null}">OPTIONS</h4>
            <hr th:if="${session.user != null}">
            <div th:if="${session.user != null}" class="sectionsHolder">
                <a th:href="@{/forum}" class="section">
                    <i class="bi bi-threads"></i> <p>Threads</p>
                </a>
                <a th:href="@{/forum/user}" class="section">
                    <i class="bi bi-chat-right-text"></i> <p>Vos Threads</p>
                </a>
                <a th:href="@{/forum/following}" class="section">
                    <i class="bi bi-person-vcard"></i> <p>Threads de vos abonnements</p>
                </a>
                <a class="section">
                    <i class="bi bi-bookmark-check"></i> <p>Threads enregistrés</p>
                </a>
                <dialog id="creationDialog">
                    <div class="dialogHeader">
                        <h4>Créer un thread</h4>
                        <i class="bi bi-x-lg" id="closeDialog"></i>
                    </div>
                    <div class="formHolder">
                        <form class="form" th:object="${forum}" th:action="@{/forum/create}" method="POST" enctype="multipart/form-data">

                            <label for="titre">Titre</label>
                            <div style="height: 5%; width: 100%" class="d-flex">
                                <input id="titreInput" type="text" name="titre" th:field="*{titre}">
                                <div  class="d-flex" style=" display:none; height: 5%;">

                                    <input name="fichier" id="fileButton" class="custom-file-label" type="file" style="opacity: 0" accept=".jpg,.png,.webp,.gif">
                                </div>

                            </div>
                            <label style="margin-top: 2%"  for="contenu">Contenu</label>
                            <textarea name="contenu"></textarea>
                            <div class="filterHolder">
                                <div>
                                    <input type="checkbox" checked name="tag" value="CONSEIL"><label for="" class="tag" id="conseil">CONSEIL</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="tag" value="QUESTION"><label for="" class="tag"  id="question">QUESTION</label>
                                </div>
                                <div>
                                    <input type="checkbox"  name="tag" value="ANNONCE"><label for="" class="tag" id="annonce">ANNONCE</label>
                                </div>
                                <div>
                                    <input type="checkbox"  name="tag" value="INSPIRATION"><label for="" class="tag" id="inspiration">INSPIRATION</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="tag" value="FEEDBACK"><label for="" class="tag" id="feedback">FEEDBACK</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="tag" value="PROJET"><label for="" class="tag" id="projet">PROJET</label>
                                </div>
                            </div>
                            <div id="radioBtn">
                                <input type="radio" name="publique"> <label style="margin-right: 155%" for="publique">Public</label>
                            </div>
                            <button type="submit">
                                PUBLIER
                            </button>

                        </form>
                    </div>
                </dialog>
                <div class="section" id="openDialog">
                    <i class="bi bi-plus-square"></i> <p>Créer un thread</p>
                </div>
            </div>
            <h4 style="margin-top: 10em">FILTRES</h4>
            <hr>
            <div class="sectionFilter">
                <form action="" class="filterForm" id="filterTags">
                    <div>
                        <input class="form-check-input filterTag" type="checkbox" value="conseil"><label for="" class="tag" id="conseil">CONSEIL</label>
                    </div>
                    <div>
                        <input class="form-check-input filterTag" type="checkbox" value="question"><label for="" class="tag" id="question">QUESTION</label>
                    </div>
                    <div>
                        <input class="form-check-input filterTag" type="checkbox" value="annonce"><label for="" class="tag" id="annonce">ANNONCE</label>
                    </div>
                    <div>
                        <input class="form-check-input filterTag" type="checkbox" value="inspiration"><label for="" class="tag" id="inspiration">INSPIRATION</label>
                    </div>
                    <div>
                        <input class="form-check-input filterTag" type="checkbox" value="feedback"><label for="" class="tag" id="feedback">FEEDBACK</label>
                    </div>
                    <div>
                        <input class="form-check-input filterTag" type="checkbox" value="projet"><label for="" class="tag" id="projet">PROJET</label>
                    </div>
                </form>
            </div>
        </div>

        <div class="forumContent">
            <h3>FORUMS</h3>
            <hr>
            <div class="rechercheContainer">
                <form th:action="@{/forum/search}" method="post" class="rechercheForm">
                    <input name="keyword" type="text" placeholder="Rechercher un thread">
                    <button type="submit">Rechercher</button>
                </form>
            </div>

            <div class="resultHolder">
                <h4 th:if="${message}" th:text="${message}"></h4>
                <div th:each="thread : ${threads}" class="forumHolder">
                    <div class="threadHeader">
                        <p>[[${thread.titre}]]</p>
                        <i th:if="${ (session.user!=null) && thread.utilisateur.getId() == session.user.getId()}" class="bi bi-x-lg deleteIcon" th:data-threadId="${thread.getId()}"></i>
                    </div>
                    <div class="threadInfo">
                        <div class="threadUserPfp">
                            <a th:href="@{/utilisateur/profil/{username}(username=${thread.utilisateur.getPseudo()})}">
                                <img th:src="@{/media/images/utilisateur/{image}(image=${thread.utilisateur.getPhotoUrl()})}" alt="">
                            </a>
                        </div>
                        <div class="threadUserInfo">
                            <p><b>@[[${thread.utilisateur.pseudo}]]</b></p>
                            <p>Artiste [[${thread.utilisateur.specialisation}]]</p>
                            <p><small>[[${thread.dateCreation.toLocalDate()}]]</small></p>
                        </div>
                        <div class="threadTags">
                            <th:block th:each="tag : ${thread.getTags()}">
                                <p th:text="${tag}" class="tag" th:id="${tag}"></p>
                            </th:block>
                        </div>
                    </div>
                    <div class="threadContent">
                        <p>
                            [[${thread.contenu}]]
                        </p>
                    </div>
                    <div class="threadOptions">
                        <div class="d-flex gap-3">
                            <p class="chatThread"><i class="bi bi-bookmark"></i></p>
                        </div>
                        <div th:if="${!thread.getListeCommentaires().isEmpty() || session.user != null }" class="chevronDiv">
                            <i class="bi bi-chevron-down" id="chevron"></i>
                        </div>
                    </div>
                    <div class="commentSection">
                        <form class="commentForm" method="post" onsubmit="return ajouterCommentaire(this);">
                            <input type="text" required name="comment" placeholder="Écrire un commentaire">
                            <input type="hidden" name="forumId" th:value="${thread.getId()}">
                            <button type="submit">ENVOYER</button>
                        </form>
                        <div class="comment" th:each="comment:${thread.getListeCommentaires()}" th:data-commentId="${comment.getId()}">
                            <a th:src="@{/utilisateur/profil/{username}(username=${comment.utilisateur.getPseudo()})}"><img th:src="@{/media/images/utilisateur/{image}(image=${comment.utilisateur.getPhotoUrl()})}" alt=""></a>
                            <div class="commentContent">
                                <b>@[[${comment.utilisateur.pseudo}]]</b>
                                <p th:text="${comment.getMessage()}"></p>
                            </div>
                            <i th:if="${ (session.user!=null) && ((thread.utilisateur.getId() == session.user.getId()) || (comment.utilisateur.getId() == session.user.getId()))}" class="bi bi-x-lg"></i>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="filterContent">
            <div class="notificationHolder" th:if="${session.user!=null}">
                <h4>NOTIFICATIONS </h4>
                <div class="notifcationContainer" id="notifcationContainer">
                    <h5 id="no-notif-title" >VOUS N'AVEZ AUCUNE NOTIFICATION</h5>
                </div>
            </div>
        </div>
    </div>
    <dialog th:if="${ session.user != null}" class="deleteDialog">
        <h6>Voulez-vous vraiment supprimer ce thread</h6>
        <div>
            <button id="confirmerDelete">SUPPRIMER</button>
            <button id="annulerDeleteDialog">ANNULER</button>
        </div>
    </dialog>
    <div th:replace="${session.user != null} ? ~{fragment/notificationFragment :: notificationFragment} : ~{}"></div>
    <script th:if="${session.user!=null}" th:src="@{/js/notification.js?v=16}"></script>

    <!--IGNORE c'est pour le js-->
    <img style="display: none" th:if="${session.user!=null}" th:src="@{/media/images/utilisateur/{image}(image=${session.user.getPhotoUrl()})}" th:value="${session.user.getPseudo()}" id="permission">
    </body>
    <script>
        const openDialog = document.getElementById("openDialog")
        const createDialog = document.getElementById("creationDialog")
        const closeDialog = document.getElementById("closeDialog")
        const commentForms = document.querySelectorAll(".commentForm")
        const permission = document.getElementById("permission")
        if (openDialog){
            openDialog.addEventListener("click", function (){
                createDialog.showModal();
            })
            closeDialog.addEventListener("click",function (){
                createDialog.close();
            })

            let checkboxes = document.querySelectorAll('input[type="checkbox"][name="tag"]');
            checkboxes.forEach(function(checkbox) {
                checkbox.addEventListener('change', function() {
                    let atLeastOneChecked = Array.from(checkboxes).some(function(checkbox) {
                        return checkbox.checked;
                    });
                    if (!atLeastOneChecked) {
                        document.querySelector('input[type="checkbox"][value="CONSEIL"]').checked = true;
                    }
                });
            });
        }

        commentForms.forEach(commentForm =>{
            if (permission){
                commentForm.addEventListener("submit", function (event){
                    event.preventDefault();

                    const comment = commentForm.querySelector("input").value
                    const userPseudo = permission.getAttribute("value")

                    const newComment = document.createElement("div");
                    newComment.classList.add("comment")
                    newComment.innerHTML=`
                        <img src=${permission.src} alt="">
                           <div class="commentContent">
                                 <b>@${userPseudo}</b>
                                 <p>${comment}</p>
                           </div>
                            <i class="bi bi-x-lg"></i>
                    `
                    newComment.style.opacity=1;
                    commentForm.parentElement.append(newComment)
                    commentForm.querySelector("input").value = ""
                })
            }else{
                commentForm.remove()
            }
        })
        const comments = document.querySelectorAll(".comment")
        comments.forEach(comment =>{
            const commentIcon = comment.querySelector("i")
            if (commentIcon){
                commentIcon.addEventListener("click",function (){
                    deleteCommentaire(comment,comment.getAttribute("data-commentId"))
                })
            }

        })

    </script>
    <script th:if="${session.user!=null}">
        let btnDelete = document.querySelectorAll(".deleteIcon")
        let confirmerDeleteBtn = document.getElementById("confirmerDelete")
        const dialog = document.querySelector(".deleteDialog")
        const closeDeleteDialog = document.getElementById("annulerDeleteDialog")
        let openDeleteDialog = false

        btnDelete.forEach(btn =>{
            btn.addEventListener("click", function (){
                if (!openDeleteDialog){
                    openDeleteDialog = true
                    dialog.showModal()
                    let deleteHandler = function (){
                        console.log(btn.getAttribute("data-threadId"))
                        deleteForum(btn.parentElement.parentElement,btn.getAttribute("data-threadId"))
                        openDeleteDialog = false
                        dialog.close()
                        confirmerDeleteBtn.removeEventListener("click",deleteHandler)
                    }
                    confirmerDeleteBtn.addEventListener("click",deleteHandler)
                }
            })
        })
        closeDeleteDialog.addEventListener("click", function (){
            if (openDeleteDialog){
                openDeleteDialog = false
                dialog.close()
            }
        })
    </script>
    <script th:src="@{/js/script-forum.js?v=5}"></script>
</html>