<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>ArtSync</title>
    <meta charset="UTF-8">
    <meta content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css?v=9}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style-forge.css?v=2}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r126/three.min.js" integrity="sha512-n8IpKWzDnBOcBhRlHirMZOUvEq2bLRMuJGjuVqbzUJwtTsgwOgK5aS0c1JA647XWYfqvXve8k3PtZdzpipFjgg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.9/dat.gui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/TextPlugin.min.js"></script>
    <!--    libs for stomp and sockjs-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
    <!--Header-->
    <nav th:replace="${session.user == null} ? ~{fragment/fragments :: headerFragment} : ~{fragment/fragments :: headerUserFragment}"></nav>
    <div class="titre">
        <h3>FORGE D'IMAGERIE</h3>
    </div>
    <div class="loadingHolder">
        <div class="ld-ripple">
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="imageResultHolder">
        <div class="generatedImage">
        </div>

    </div>
    <div class="btnHolder">
        <a th:href="${'/forge'}">Recommencer</a>
        <a id="downloadBtn" class="bi bi-download" ></a>
    </div>

    <div class="ai-input">
        <p>ALIMENTÉ PAR L'IA <span><i title="Stability.ai" class="bi bi-robot"></i></span></p>
        <form autocomplete="off" th:action="@{/generate}" method="post">
            <input type="text" id="prompt" name="prompt" placeholder="Décrivez l'image que vous souhaitez">
        </form>
        <hr>
    </div>
    <div th:replace="${session.user != null} ? ~{fragment/notificationFragment :: notificationFragment} : ~{}"></div>
    <script th:src="@{/js/notification.js?v=16}"></script>
    <script>
        $(document).ready(function() {
            gsap.to($(".titre"),{
                y:40
            })
            $('form').submit(function(event) {
                if (!debounce){
                    debounce = true
                    document.querySelector("form").firstElementChild.readOnly = true
                    event.preventDefault();
                    gsap.to($(".titre"),{
                        y:-15,
                        ease:"back"
                    })
                    gsap.to(loadingHolder,{
                        opacity:1,
                        delay:0.15
                    })

                    var prompt = $('#prompt').val();
                    $.ajax({
                        url: '/api/generate',
                        type: 'POST',
                        data: { prompt: prompt },
                        success: function(response) {
                            if (response) {
                                var img = new Image();
                                img.src = 'data:image/png;base64,'+ response
                                document.querySelector(".generatedImage").appendChild(img);
                                const downloadButton = document.getElementById("downloadBtn")
                                downloadButton.href = img.src;
                                downloadButton.download = window.crypto.randomUUID()+'.png';
                                img.style.opacity=0;
                                gsap.to($(".generatedImage"),{
                                    opacity:1,
                                    height:"25rem",
                                    width:"25rem",
                                    duration:2,
                                    ease: "back",
                                    delay: 0.5
                                })
                                gsap.to(loadingHolder,{
                                    opacity:0,
                                    delay:0.3,
                                    display:"none",
                                })
                                gsap.to($(".titre"),{
                                    opacity:0,
                                    display:"none",
                                })
                                gsap.to($("form"),{
                                    opacity:0,
                                    display:"none",
                                })
                                gsap.to($(".ai-input"),{
                                    opacity:0,
                                    display:"none",
                                })
                                gsap.to(img,{
                                    opacity:1,
                                    duration: 1.25,
                                    delay:1.25
                                })
                                gsap.to(btnHolder,{
                                    display:"flex",
                                    delay:1.25
                                })
                                gsap.to(btnHolder.children,{
                                    opacity:1,
                                    duration:0.75,
                                    stagger:0.25,
                                    delay:1.5
                                })
                                gsap.to($('.imageResultHolder'),{
                                    height: "65vh",
                                    duration:0
                                })
                            }
                        },
                        error: function(xhr) {
                            let erreur = JSON.parse(xhr.responseText)
                            showNotification({
                                type: 'danger',
                                message: `Assurez vous que la demande est faite en anglais`,
                                titre: `Erreur`,
                            })
                            gsap.to($(".titre"),{
                                y:0,
                                ease:"back"
                            })
                            gsap.to(loadingHolder,{
                                opacity:0,
                                delay:0.05
                            })
                            gsap.to(btnHolder,{
                                display:"flex",
                                delay:1.25
                            })
                            gsap.to(btnHolder.children[0],{
                                opacity:1,
                                duration:0.75,
                                stagger:0.25,
                                delay:1.5
                            })
                            gsap.to($("form"),{
                                opacity:0,
                                display:"none",
                            })
                        }
                    });
                }

            });
        });
    </script>
    <script th:src="@{/js/script-forge.js}"></script>
</body>
</html>
