<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html  xmlns:th="http://www.thymeleaf.org" lang="">
    <head>
        <title>Recherche</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css?v=9}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style-recherche.css?v=5}"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r126/three.min.js" integrity="sha512-n8IpKWzDnBOcBhRlHirMZOUvEq2bLRMuJGjuVqbzUJwtTsgwOgK5aS0c1JA647XWYfqvXve8k3PtZdzpipFjgg==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.9/dat.gui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/TextPlugin.min.js"></script>
        <!--    libs for stomp and sockjs-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    </head>

    <body class="body-content">

    <!--Header-->
    <nav th:replace="${session.user == null} ? ~{fragment/fragments :: headerFragment} : ~{fragment/fragments :: headerUserFragment}"></nav>

    <!--Content-->

    <div class="researchContainer">
        <h4 id="rechercheHeader" th:switch="${filtre}">
            <span th:case="'UTILISATEUR'">RECHERCHE D'UTILISATEUR</span>
            <span th:case="'GROUPE'">RECHERCHE DE GROUPE</span>
            <span th:case="*">RECHERCHE DE STREAM</span>
        </h4>
        <div class="filterContainer">
            <a th:href="@{/recherche(filtre='UTILISATEUR')}"
               th:classappend="${filtre == 'UTILISATEUR'} ? ' selectedFilter' : ''"
               class="filter" id="userFilter">
                <i class="bi bi-person"></i>
                <p>MEMBRE</p>
            </a>
            <a th:href="@{/recherche(filtre='GROUPE')}"
               th:classappend="${filtre == 'GROUPE'} ? ' selectedFilter' : ''"
               class="filter" id="groupFilter">
                <i class="bi bi-collection"></i>
                <p>GROUPE</p>
            </a>
            <a th:href="@{/recherche(filtre='STREAM')}"
               th:classappend="${filtre == 'STREAM'} ? ' selectedFilter' : ''"
               class="filter" id="streamFilter">
                <i class="bi bi-cast"></i>
                <p>STREAM</p>
            </a>
        </div>
        <form th:action="@{/recherche(filtre=${filtre})}" class="rechercheForm">
            <input type="text" placeholder="Rechercher" name="search" class="searchBar">
            <input type="hidden" name="filtre" th:value="${filtre}">
            <input type="hidden" name="type" value="search">
            <button type="submit" class="searchButton"><i class="bi bi-search"></i></button>
        </form>
        <hr>

        <div class="resultContainer" id="resultContainer">
            <h5 th:if="${message != null}" th:text="${message}" class="message"></h5>


            <!--UTILISATEURS-->
            <div th:if="${listUtilisateurs != null and listUtilisateurs.size() > 0}" th:each="user : ${listUtilisateurs}"  class="resultAnchor">
                <div th:if="${ session.user == null || (session.user != null && user.getPseudo()!=session.user.getPseudo())}" class="userResult">
                    <a th:href="@{'/utilisateur/profil/'+${user.pseudo}}" class="userProfilPic">
                        <img th:src="@{/media/images/utilisateur/{image}(image=${user.getPhotoUrl()})}" alt="">
                    </a>
                    <div class="userInfo">
                        <p>[[${user.prenom}]] [[${user.nom}]]</p>
                        <p><b>@[[${user.pseudo}]]</b></p>
                        <p>[[${user.specialisation}]]</p>
                    </div>
                    <div class="userButtons">
                        <a th:if="${session.user != null && !user.getIn()}" th:user-data="${user.getId()}" onclick="return modifierRelation(this);" class="addButton">
                            <i class="bi bi-person-add"></i>
                        </a>
                        <a th:if="${session.user != null && user.getIn()}" th:user-data="${user.getId()}" onclick="return modifierRelation(this);" class="removeButton">
                            <i class="bi bi-person-dash"></i>
                        </a>
                    </div>
                </div>
            </div>


            <!--PROJET-->
            <div th:if="${listProjets != null and listProjets.size() > 0}" th:each="projet : ${listProjets}" class="resultAnchor">
                <div class="groupResult">
                    <div class="groupRow1">
                        <div class="groupPic">
                            <img th:src="@{/media/images/utilisateur/{image}(image=${projet.getProjetPhoto()})}" alt="">
                        </div>
                        <div class="groupInfoHolder">
                            <div class="groupHeader">
                                <h5>[[${projet.titre}]]</h5>
                                <p style="margin: 0">[[${projet.nbMembre}]] <i class="bi bi-people"></i></p>
                            </div>
                            <div class="groupInfo">
                                <p>Commencé le [[${projet.dateCreation.toLocalDate()}]]</p>
                            </div>
                            <div class="groupStatut">
                                <p th:if="${projet.publique}">
                                    <i class="bi bi-unlock"></i>
                                </p>
                                <p th:unless="${projet.publique}">
                                    <i class="bi bi-lock"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="groupDesc">
                        <p>
                            [[${projet.description}]]
                        </p>
                    </div>
                    <div class="groupButtons">
                        <a class="addButton" th:projet-data="${projet.getId()}" th:if="${session.user != null && session.user.getPseudo() != projet.getAdmin().getPseudo() && !projet.in}" onclick="return modifierRelationGroupe(this);">
                            <i class="bi bi-box-arrow-in-right"></i>
                        </a>
                        <a class="removeButton" th:projet-data="${projet.getId()}" th:if="${session.user != null && session.user.getPseudo() != projet.getAdmin().getPseudo() && projet.in}" onclick="return modifierRelationGroupe(this);">
                            <i class="bi bi-x-lg"></i>
                        </a>
                    </div>
                </div>
            </div>

            <a th:each="stream : ${listStreams}" th:href="${'/live/'+stream.getUtilisateur().getPseudo()}" class="resultAnchor">
                <div class="streamResult">
                    <div class="streamPreviewHolder">
                        <div class="streamPreview">
                            <img src="media/image/art.jpg" alt="">
                            <div class="online">
                                LIVE
                            </div>
                            <div class="viewCount">
                                 <i class="bi bi-eye"></i>
                            </div>
                        </div>
                    </div>
                    <div class="streamInfo">
                        <div class="streamerInfo">
                            <img th:src="@{/media/images/utilisateur/{image}(image=${stream.getUtilisateur().getPhotoUrl()})}" alt="">
                            <div class="streamerUser">
                                <p>[[${stream.titre}]]</p>
                                <p><b th:text="${'@'+stream.getUtilisateur().getPseudo()}"></b></p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </a>

            </div>
        </div>

        <div th:replace="${session.user != null} ? ~{fragment/notificationFragment :: notificationFragment} : ~{}"></div>
        <script>
            function modifierRelation(button){
                let userId = button.getAttribute("user-data");
                if (button.firstElementChild.classList.contains("bi-person-add")){
                    button.innerHTML =`
                        <i class="bi bi-person-dash"></i>
                        `
                    console.log(button.getAttribute("user-data"))
                    button.classList.remove("addButton")
                    button.classList.add("removeButton")
                }else if (button.firstElementChild.classList.contains("bi-person-dash")){
                    button.innerHTML =`
                        <i class="bi bi-person-add"></i>
                        `
                    button.classList.remove("removeButton")
                    button.classList.add("addButton")
                }
                $.ajax({
                    type: "POST",
                    url: window.location.origin.toString()+"/recherche/updateRelationUsr",
                    data: {userId: userId},
                    success : function (data) {
                        if(data === "true"){
                            console.log("Controller Reached")

                        }else{
                            console.log("Failed")

                        }
                    },
                })

            }
            function modifierRelationGroupe(button){
                let projetId = button.getAttribute("projet-data");
                let operation
                if (button.firstElementChild.classList.contains("bi-box-arrow-in-right")){
                    button.innerHTML =`
                        <i class="bi bi-x-lg"></i>
                        `
                    console.log(button.getAttribute("projet-data"))
                    button.classList.remove("addButton")
                    button.classList.add("removeButton")
                    operation = "add"
                }else if (button.firstElementChild.classList.contains("bi-x-lg")){
                    button.innerHTML =`
                        <i class="bi bi-box-arrow-in-right"></i>
                        `
                    button.classList.remove("removeButton")
                    button.classList.add("addButton")
                    operation = "leave"
                }
                $.ajax({
                    type: "POST",
                    url: window.location.origin.toString()+"/recherche/updateRelationGrp",
                    data: {projetId: projetId,operation:operation},
                    success : function (data) {
                        if(data!=="false"){
                            console.log(data)

                        }else{
                            console.log("Failed")

                        }
                    },
                })

            }
        </script>
        <script th:src="@{/js/notification.js?v=16}"></script>

    </body>
    <script th:src="@{/js/script-recherche.js?v=5}"></script>
</html>