<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ArtSync</title>
    <!-- Stylesheet -->
      <link rel="stylesheet" type="text/css" th:href="@{/css/style-auth.css?v=6}"/>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css?v=9}"/>
    <!--Dependencies-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" ></script>
  </head>
  <body class="body-content">
    <div class="row">
      <div class="col-md-2 d-flex justify-content-center ml-5 backButton">
        <a th:href="@{/index}"><h3>ARTSYNC</h3></a>
      </div>

    </div>
    <div class="container">
        <div class="auth-box" style="width: 90%;">
            <form th:action="@{/password-reset}" method="post" id="formulaire-reset" style="flex-direction: column;">
                <div class="input-holder" id="holder-input" style="width: 150%;">
                    <h3 style="margin-bottom: 2em;">IDENTIFIANTS</h3>
                    <input type="email" placeholder="Addresse courriel " name="email" id="input-1"  required>
                </div>
                <button type="submit" class="boutton-connexion" id="confirmation">ENVOYER LA DEMANDE</button>
            </form>
        </div>
    </div>
    <!--TEST-->
    <div class="wrapper">
      <img src="media/image/3D-0.jpg" class="img-bg-element" alt="test">
      <img src="media/image/painting.pg.jpg" class="img-bg-element" alt="test">
      <img src="media/image/digitalArt-1.jpg" class="img-bg-element" alt="test">
      <img src="media/image/pixelArt.jpg" class="img-bg-element" alt="test">
      <img src="media/image/3d-1.jpg" class="img-bg-element" alt="test">
      <img src="media/image/painting0.jpg" class="img-bg-element" alt="test">
      <img src="media/image/3D-2.png" class="img-bg-element" alt="test">
      <img src="media/image/painting2.jpg" class="img-bg-element" alt="test">
    </div>
    <footer style="background-color: black;">
      <div class="footer-container">
            ARTSYNC
      </div>
    </footer>
    <div id="notification-pop-liste" ></div>

    <script th:src="@{/js/notification.js?v=17}"></script>
    <script th:if="${warn != null}">
        showNotification({
            type: 'warn',
            message: '[[${warn}]]',
            titre: 'Avertissement',
        })
    </script>
    <script th:if="${error != null}">
        showNotification({
            type: 'danger',
            message: '[[${error}]]',
            titre: 'Avertissement',
        })
    </script>
    <script th:if="${success != null}">
        showNotification({
            type: 'success',
            message: '[[${success}]]',
            titre: 'Avertissement',
        })
    </script>
    <script th:src="@{/js/script-auth.js?v=6}"></script>
    <script th:src="@{/js/reset-password.js?v=1}"></script>
  </body>
</html>
