<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explorer</title>
    <link rel="stylesheet" th:href="@{/css/chat.css?v=5}">
    <link rel="stylesheet" th:href="@{/css/style.css?v=5}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <!--    libs for stomp and sockjs-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
</head>
<style th:if="${banniere != null}">
    .header-profile{
        background-image: url("/media/images/[[${banniere.getListeFichiers()[0].getUrlMedia()}]]");
    }
</style>
<body>
    <header>
        <nav th:replace="${session.user == null} ? ~{fragment/fragments :: headerFragment} : ~{fragment/fragments :: headerUserFragment}"></nav>
    </header>
    <button id="expandButton"><i class="bi bi-caret-right"></i></button>
    <div class="container-page">
        <div id="liste-contacts" class="animation">
            <h4 class="animation delais">CONTACTS</h4>
            <div id="liste-personne" class="liste-options-contact">
                <!--/*@thymesVar id="ami" type="com.artcorp.artsync.entity.Utilisateur"*/-->
                <a th:each="conversation : ${conversationsAmi}" th:href="@{/utilisateur/conversation/{id}(id=${conversation.getId()})}"
                   th:class="${conversation.getId() == conversationCourrante.getId()} ? 'carte carte-active' : 'carte'"
                   th:with="ami=${conversation.getUtilisateurUn().getId() == session.user.getId() ? conversation.getUtilisateurDeux() : conversation.getUtilisateurUn()}"
                    style="text-underline: none; text-decoration: none; color: #000;">

                    <img th:src="@{/media/images/{image}(image=${ami.getPhotoUrl()})}" alt="">
                    <div class="mini-container">
                        <p>[[${ami.prenom}]] [[${ami.nom}]] <span id="friendStatut" th:class="'statut ' + ${ami.statut}"></span></p>
                        <p>@[[${ami.pseudo}]]</p>
                        <p> <img src="/media/logo/digitalIcon.png" alt="logo-role">[[${ami.specialisation}]]</p>
                    </div>
                </a>
            </div>
            <h4 class="animation delais">GROUPES</h4>
            <div id="liste-groupe" class="liste-options-contact">
                <a class="carte" id="groupAnchor"
                   th:each="conversationP : ${conversationsProjet}"
                   th:href="@{/utilisateur/conversation/{id}(id=${conversationP.getId()})}"
                   th:class="${conversationP.getId() == conversationCourrante.getId()} ? 'carte carte-active' : 'carte'">
                    <img th:src="@{/media/images/{image}(image=${conversationP.projet.getProjetPhoto()})}" alt="">
                    <div class="mini-container">
                        <p>[[${conversationP.projet.getTitre()}]]</p>
                        <p style="margin-left: 0">[[${conversationP.projet.getDescription()}]]</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="main-content animation delais">
            <div class="container-content">
                <div id="option-chat" data-state="inactive">
                    <button id="open-options" class="button-option">
                        <i id="icone-fleche" class="fas fa-plus"></i>
                    </button>
                    <button id="button-fonction-video" class="button-option inactive">
                        <i class="fas fa-video"></i>
                    </button>
                    <button id="button-fonction-call" class="button-option inactive">
                        <i class="fas fa-phone"></i>
                    </button>
                    <button id="button-fonction-paint" class="button-option inactive">
                        <i class="fas fa-palette"></i>
                    </button>
                    <button id="button-fonction-music" class="button-option inactive">
                        <i class="fas fa-music"></i>
                    </button>
                </div>
                <div class="container-chat">
                    <div class="header-profile">
                        <div class="content-header">
                            <div class="info-profil">
                                <h4>[[${conversationCourrante.projet.getTitre()}]]</h4>
                                <p style="text-align: center; width: 100%">[[${conversationCourrante.projet.getDescription()}]]</p>
                            </div>
                            <div class="img-container">
                                <img th:src="@{/media/images/{image}(image=${conversationCourrante.projet.getProjetPhoto()})}" alt="" id="photo-profile">
                            </div>
                        </div>
                    </div>
                    <div class="chat-box" id="chat-box">
                        <div th:if="${conversationCourrante.listeChat != null}" th:each="message : ${conversationCourrante.listeChat}"
                             th:class="${message.utilisateurUn.getId() == session.user.getId()} ? 'chat-item chat-item-right' : ' chat-item chat-item-left'">
                            <div class="chat-item-content">
                                <p th:if="${message.type == 'text'}" th:text="${message.message}"></p>
                                <img th:if="${message.type == 'media'}" th:src="${message.getUrlMedia()}" alt="">
                            </div>
                            <img
                            th:src="@{/media/images/{image}(image=${message.utilisateurUn.getPhotoUrl()})}"
                            alt="profil"
                            class="profile-pic-banner-border-small">
                        </div>
                    </div>
                    <form id="input-box" enctype="multipart/form-data">
                        <img th:src="@{/media/images/{image}(image=${session.user.getPhotoUrl()})}" alt="" id="img-profil-input">
                        <input type="text" id="input-chat" name="message">
                        <label class="option-send-chat" for="file">
                            <i class="fa-solid fa-file"></i>
                            <input type="file" id="file"  name="file">
                        </label>
                        <button id="send-button" class="option-send-chat" type="submit"><i class="fas fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <dialog id="video-chat2">
        <div id="remote-holder2">
            <div id="secondary-video-holder" class="secondary-video-holder"></div>
            <div id="unfocused-video-holder">

            </div>
        </div>
        <div id="local-holder">

            <video 
            autoplay
            muted
            playsinline
            class="video-box"
            id="localVideo">

            </video>
        </div>
        <div class="control-holder">
            <button type="button"
            class="button-video"
            id="hang-up-button">
                <i class="bi bi-telephone-x"></i>
            </button>
            <button type="button"
            class="button-video"
            id="cam-toggle">
                <i class="bi bi-camera-video"></i>
            </button>
            <button type="button"
            class="button-video"
            id="micro-toggle">
                <i class="bi bi-mic"></i>
            </button>
            <button type="button"
                    class="button-video"
                    id="display-toggle">
                <i class="bi bi-display"></i>
            </button>
        </div>
    </dialog>
<script th:inline="javascript" th:if="${conversationCourrante != null}">
    const idProjet = '[[${conversationCourrante.projet.getId()}]]';
    const pseudoUser = [[${session.user.pseudo}]];
    const photoUrl = [[${session.user.photoUrl}]];

    //== Scroll automatiquement vers le bas du chat ==
    const chatBox = document.getElementById("chat-box");
    chatBox.scrollTop = chatBox.scrollHeight;

    //== Préparation de la connexion websocket ==
    const backEndUrl = window.location.origin;
    const socket = new SockJS('/ws');
    const stompClient = Stomp.over(socket);

    stompClient.connect({}, function(frame) {
        stompClient.subscribe('/topic/conversation/[[${conversationCourrante.getId()}]]', function(message) {
            addMessage(JSON.parse(message.body));
        });
    });

    //== Affichage des messages lorsque recuperés du serveur socket ==
    function addMessage(message) {
        let chatItem = document.createElement("div");
        chatItem.classList.add("chat-item");
        // Element pour la photo de celui qui a envoyer le chat
        let imgProfil = document.createElement("img");
        let imgUserUrl;

        if (message.utilisateurUn.id !== [[${session.user.getId()}]]) {
            chatItem.classList.add('chat-item-left');
            imgUserUrl = message.utilisateurUn.photoUrl
        }else{
            chatItem.classList.add('chat-item-right');
            imgUserUrl = [[${session.user.getPhotoUrl()}]]
        }
        imgProfil.src = '/media/images/'+imgUserUrl;
        imgProfil.classList.add("profile-pic-banner-border-small");

        let chatContent = document.createElement("div");
        chatContent.classList.add("chat-item-content");

        if(message.type === "text"){
            let pChat = document.createElement("p");
            pChat.innerText = message.message;
            chatContent.appendChild(pChat);
            // img sinon
        }else if(message.type === "media"){
            let img = document.createElement("img");
            img.src = message.urlMedia;
            chatContent.appendChild(img);
        }
        chatItem.appendChild(chatContent)
        chatItem.appendChild(imgProfil);
        chatBox.appendChild(chatItem);
        chatBox.scrollTop = chatBox.scrollHeight;
    }

    const inputBox = document.getElementById("input-box");
    const inputs = inputBox.querySelectorAll("input");
    const profilImgUserLogin = [[${session.user.getPhotoUrl()}]];

    inputBox.addEventListener('submit', function(event) {
        event.preventDefault();
        console.log("hi")
        if(inputs[0].value.trim() !== ''){
            const message = document.getElementById('input-chat').value;
            stompClient.send("/app/chat/[[${conversationCourrante.getId()}]]", {}, JSON.stringify(
                {
                    type : "text",
                    utilisateurUn : {
                        id:'[[${session.user.id}]]',
                        photoUrl: profilImgUserLogin.toString()
                    },
                    dateTimeEnvoie : new Date(),
                    message : message,
                    conversation: {
                        id : '[[${conversationCourrante.getId()}]]'
                    }
                }
            ));
            stompClient.send("/app/notification/projet/"+idProjet,{},JSON.stringify(
                {
                    type: 'info',
                    pseudoSender: pseudoUser,
                    message: 'Nouveau message de groupe',
                    titre: 'Groupe ' + [[${conversationCourrante.projet.titre}]],
                    urlNotif: window.location.pathname.toString(),
                    imgSender: profilImgUserLogin
                }
            ));
            inputs[0].value = '';
        }

        if (inputs[1].files.length > 0) {
            const file = inputs[1].files[0];

            inputs[1].value = '';
            if(isImage(file.name)){
                const formData = new FormData();
                formData.append("file", file);
                fetch(backEndUrl + '/api/chat/upload', {
                    method: 'POST',
                    body: formData
                }).then(function() {
                    stompClient.send("/app/chat/[[${conversationCourrante.getId()}]]", {}, JSON.stringify(
                        {
                            type : "media",
                            utilisateurUn : {
                                id:'[[${session.user.id}]]'
                            },
                            idGroupe : 0,
                            dateTimeEnvoie : new Date(),
                            conversation: {
                                id : '[[${conversationCourrante.getId()}]]'
                            },
                            urlMedia : file.name
                        }
                    ));
                    stompClient.send("/app/notification/projet/"+idProjet,{},JSON.stringify(
                        {
                            type: 'info',
                            pseudoSender: pseudoUser,
                            message: 'Nouveau message de groupe',
                            titre: 'Groupe [[${conversationCourrante.projet.getTitre()}]]',
                            urlNotif: window.location.pathname.toString(),
                            imgSender: profilImgUserLogin
                        }
                    ));
                })
            }else{
                alert("Il ne s'agit pas d'un fichier valide");
            }
        }
        document.getElementById('input-chat').value = '';
    });

    window.addEventListener('beforeunload', function (e) {
        delete e['returnValue'];
        stompClient.disconnect();
    });

    //=== Variables appel video ======
    const conversationId = '[[${conversationCourrante.getId()}]]';
    const idUser = '[[${session.user.id}]]';

    const video = document.getElementById("button-fonction-video");
    const phone = document.getElementById("button-fonction-call");
    const videoDialog = document.getElementById("video-chat2");
    const unfocusedVideoHolder = document.getElementById('unfocused-video-holder');
    const secondaryVideoHolder = document.getElementById('secondary-video-holder');

</script>
    <script type="text/javascript" th:src="@{/js/chat-video-groupe.js?v=6}" ></script>
    <script type="text/javascript" th:src="@{/js/chat.js?v=6}" ></script>
</body>
</html>