<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Profil</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css?v=5}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style-profil.css?v=5}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r126/three.min.js" integrity="sha512-n8IpKWzDnBOcBhRlHirMZOUvEq2bLRMuJGjuVqbzUJwtTsgwOgK5aS0c1JA647XWYfqvXve8k3PtZdzpipFjgg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.9/dat.gui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/TextPlugin.min.js"></script>
    <!--    libs for stomp and sockjs-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <style th:if="${utilisateur.getBackgroundColor()==null}">
        .bodyContainer{
            background: radial-gradient(ellipse at top, #ededed 25%,#a7c9d5 100%) fixed;
        }

    </style>
</head>
<body class="bodyContainer">
<div class="overlay"></div>
<!--Header-->
<nav th:replace="${session.user == null} ? ~{fragment/fragments :: headerFragment} : ~{fragment/fragments :: headerUserFragment}"></nav>

<!--Content-->
<div class="contentHolder mt-5">
    <div class="bannerHolder" id="bannerButton">
        <dialog th:if="${session.user!=null && utilisateur.getId() == session.user.getId()}" id="dialogBanner" >
            <div class="dialogHeader">
                <h3>Changement de bannière</h3>
                <form method="modal">
                    <button class="button-dialog">
                        <i class="bi bi-x-lg" id="fermerBanner"></i>
                    </button>
                </form>
            </div>
            <div class="bannerPreview">
                <img th:if="${banniere != null}" th:src="@{/media/images/{image}(image=${banniere.listeFichiers[0].urlMedia})}" class="profile-banner" alt="Bannière du profile" id="bannerImgPreview">
                <img th:if="${banniere == null}" th:src="@{/media/images/image18.png}" class="profile-banner" alt="Bannière du profile" id="bannerImgPreview">
            </div>
            <div class="bannerForm">
                <form th:action="@{changeBanner}" method="post" enctype="multipart/form-data" onsubmit="return checkFile(this)">
                    <input type="file" name="file" id="file-input3" class="form-control-file" accept=".jpg,.png,.webp,.gif">
                    <div class="d-flex justify-content-center mt-2">
                        <button type="submit" class="post-button">Confirmer</button>
                    </div>
                </form>
            </div>

        </dialog>
        <img th:if="${banniere != null}" th:src="@{/media/images/{image}(image=${banniere.listeFichiers[0].urlMedia})}" class="profile-banner" alt="Bannière du profile">
        <img th:if="${banniere == null}" th:src="@{/media/images/image18.png}" class="profile-banner" alt="Bannière du profile">
    </div>
    <div class="pfpHolder">
        <dialog th:if="${session.user!=null && utilisateur.getId() == session.user.getId()}" class="pfpPane" id="pfpPane" >
            <div class="dialogHeader">
                <h3>Changement de photo de profil</h3>
                <i class="bi bi-x-lg" id="fermerPfp"></i>
            </div>
            <div class="pfpPreview">
                <img th:src="@{/media/images/{image}(image=${utilisateur.getPhotoUrl()})}" id="pfpBase">
                <i id="arrow" class="arrow bi bi-arrow-right"></i>
                <img src="" alt="" id="pfpPreview">

            </div>
            <div class="container mt-5">
                <form th:action="@{changePfp}" method="POST" enctype="multipart/form-data" onsubmit="return checkFile(this)">
                    <div class="container mt-2">
                        <div id="drop-area2" class="form-group d-flex justify-content-center">
                            <input type="file" name="file" id="file-input2" class="form-control-file" accept=".jpg,.png,.webp,.gif">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-2">
                        <button type="submit" class="post-button">Confirmer</button>
                    </div>
                </form>
            </div>
        </dialog>
        <img th:src="@{/media/images/{image}(image=${utilisateur.getPhotoUrl()})}" alt="" id="changePfp">
    </div>
    <div class="infoContainer">
        <div class="infoHolder" th:object="${utilisateur}">
            <h4>[[${utilisateur.prenom}]] [[${utilisateur.nom}]]</h4>
            <p>[[${utilisateur.specialisation}]]</p>
            <div class="supInfo">
                <p th:text="${nbAbonnes} + ' ABONNÉS'"></p>
                <p th:text="${nbAbonnements} + ' ABONNEMENTS'"></p>
                <p th:text="${listPosts.size()} + ' PUBLICATIONS'"></p>
            </div>
        </div>
        <div class="optionHolder">
            <div class="buttonsHolder" style="justify-content: center">
                <a th:class="${utilisateur.getIn()} ? 'bi bi-person-dash' : 'bi bi-person-add'" th:if="${session.user!=null && utilisateur.getPseudo()!=session.user.getPseudo()}" th:user-data="${utilisateur.getId()}" onclick="return modifierRelation(this);"></a>
                <a class="bi bi-record2" style="color: red" th:if="${session.user!=null && utilisateur.getPseudo() == session.user.getPseudo()}" th:href="@{/live/start}"></a>
                <a th:if="${session.user!=null && utilisateur.getPseudo() == session.user.getPseudo()}" th:href="@{settings}" class="bi bi-three-dots"></a>
            </div>
            <div>
                <!--add post dialog-->
                <dialog th:if="${session.user!=null && utilisateur.getId() == session.user.getId()}" class="postPane" id="postPane">
                    <div class="dialogHeader">
                        <h3>Créer une publication</h3>
                        <i class="bi bi-x-lg" id="fermer"></i>
                    </div>
                    <div class="postPreviewHolder">
                        <img src="" alt="" id="postPreview">
                        <i class="bi bi-image" id="placeholderIcon"></i>
                    </div>
                    <div>
                        <form class="postForm" th:action="@{/ajouter-post}" method="POST" enctype="multipart/form-data" onsubmit="return checkFile(this)">
                            <div class="form-head">
                                <label for="titre">Titre:</label>
                                <label for="type">Type:</label>
                            </div>
                            <div class="form-headInput">
                                <input type="text" name="titre" class="form-control" id="titre" placeholder="Entrez le titre" required>
                                <input type="text" name="type" class="form-control" id="type" placeholder="Entrez le type de post" required>
                            </div>
                            <div class="form-group mt-1">
                                <label for="description">Description:</label>
                                <textarea class="form-control" name="description" id="description" placeholder="Entrez la description" rows="5" required></textarea>
                            </div>

                            <div class="form-group form-check mt-3 d-flex justify-content-evenly">
                                <div>
                                    <input type="checkbox" class="form-check-input" id="publique" name="publique">
                                    <label class="form-check-label" for="publique">Public</label>
                                </div>

                                <input type="file" name="file" id="file-input" class="form-control-file" accept=".jpg,.png,.webp,.gif">
                            </div>

                            <div class="d-flex justify-content-center">
                                <button type="submit" class="post-button">Publier</button>
                            </div>

                        </form>
                    </div>
                </dialog>
                <button th:if="${session.user!=null && utilisateur.getId() == session.user.getId()}" class="publier" id="ouvrir">PUBLIER</button>
            </div>
        </div>
    </div>
    <div class="sectionBtnContainer">
        <button id="post" class="btnSection selectbtn">POSTS</button>
        <button id="portfolio" class="btnSection">PORTFOLIO</button>
    </div>
    <div class="sectionHolder">
        <div class="postHolder" id="postHolder">
            <div th:each="post : ${listPosts}" class="publication">
                <img th:src="@{/media/images/{image}(image=${post.listeFichiers[0].urlMedia})}" th:alt="${post.listeFichiers[0].urlMedia}">
            </div>
        </div>
        <div class="portfolioHolder" id="portfolioHolder">
            <span th:if="${portfolio != null and portfolio.getCode() != null}" style="display: none" id="codePortfolio" th:text="${portfolio.getCode()}"></span>
            <div class="templatePreview1">

            </div>
            <a th:if="${session.user!=null && utilisateur.getId() == session.user.getId()}" th:href="@{../portfolio}" class="createPortfolio" id="createholder">
                <p id="anchorPortfolio">CRÉER UN NOUVEAU PORTFOLIO</p><i class="bi bi-stars"></i>
            </a>
        </div>
    </div>

</div>
<div th:replace="${session.user != null} ? ~{fragment/notificationFragment :: notificationFragment} : ~{}"></div>
<script th:if="${session.user != null}">
    const userImage = '[[${session.user.photoUrl}]]';
    const pseudoUser = '[[${session.user.pseudo}]]';
</script>
<script th:src="@{/js/notification.js?v=8}"></script>
<script th:src="@{/js/script-profil.js?v=5}"></script>
<script th:if="${error != null}">
    showNotification({
        type: 'danger',
        message: '[[${error}]]',
        titre: 'Avertissement',
    })
</script>
<script th:if="${succes != null}">
    showNotification({
        type: 'success',
        message: '[[${succes}]]',
        titre: 'Succès',
    })
</script>
<script>
    function modifierRelation(button){
        let userId = button.getAttribute("user-data");
        if (button.classList.contains("bi-person-add")){
            button.classList.remove("bi-person-add")
            button.classList.add("bi-person-dash")
        }else if (button.classList.contains("bi-person-dash")){
            button.classList.remove("bi-person-dash")
            button.classList.add("bi-person-add")
        }
        $.ajax({
            type: "POST",
            url: window.location.origin.toString()+"/recherche/updateRelationUsr",
            data: {userId: userId},
            success : function (data) {
                if(data === "true"){
                    console.log("Controller Reached")

                }else{
                    console.log("Failed")

                }
            },
        })
    }
</script>
<script th:if="${utilisateur.getBackgroundColor()}">
    const bgColor = '[[${utilisateur.getBackgroundColor()}]]'
    if (bgColor.split("-")[0]==="night"){
        document.body.classList.add("whiteFont")
    }else{
        document.body.classList.remove("whiteFont")
    }
    document.body.classList.add(bgColor)
</script>
<script th:if="${utilisateur.getBackgroundTexture()}">
    const bgTexture = '[[${utilisateur.getBackgroundTexture()}]]'
    const overlay = document.querySelector(".overlay")
    overlay.style.display = "block"
    overlay.classList.add(bgTexture)
</script>
</body>
</html>
