<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Relations</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css?v=8}"/>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style-relation.css?v=6}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>

      <!--    libs for stomp and sockjs-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
      <style th:if="${session.user.getBackgroundColor()==null}">
          .bodyContainer{
              background: radial-gradient(ellipse at top, #ededed 25%, #d0ecf6 100%) fixed;
              height: auto;
          }
      </style>
  </head>

  <body class="bodyContainer">
    <!--Header-->
    <nav th:replace="${session.user == null} ? ~{fragment/fragments :: headerFragment} : ~{fragment/fragments :: headerUserFragment}"></nav>

    <!--Contenu-->
    <div class="container mt-5">
        <div class="social-holder">
            <div class="row">
                <div class="col-md-8">
                    <!--Option Buttons-->
                    <div class="row p-5 rowOption">
                        <div class="col-md-4">
                            <a th:href="@{/utilisateur/relation}">
                                <div th:class="${type.equals('Abonnements')} ? 'relation-button relation-button-active' : 'relation-button'">
                                    <p>ABONNEMENTS</p>
                                    <small><span th:text="${session.user.getFollowing().size()+' '}" > </span>followings</small>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a th:href="@{/utilisateur/relation/abonnes}">
                                <div th:class="${type.equals('Abonnées')} ? 'relation-button relation-button-active' : 'relation-button'">
                                    <p>ABONNÉES</p>
                                    <small><span th:text="${session.user.getFollowers().size()+' '}" > </span>followers</small>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a th:href="@{/utilisateur/relation/groupes}">
                            <div th:class="${type.equals('Groupes')} ? 'relation-button relation-button-active' : 'relation-button'">
                                <p>GROUPE</p>
                                <small th:text="${projetCount + ' groupes'}"></small>
                            </div>
                        </a>
                        </div>
                    </div>
                    <!--Data container-->
                    <div class="container data-container">
                        <!--Title-->
                        <div class="row anti-row-param">
                            <div class="col-md-2">
                                <h4 >[[${type}]]</h4>
                            </div>
                            <div class="col-md-10 d-flex justify-content-end gap-2 align-items-center">
                            </div>
                            <hr class="mt-2">
                        </div>

                            <div th:if="${projets != null}" class="row data-holder">
                            <!--Row #1-->
                                    <div  th:each="projet : ${projets}" class="col-md-12">
                                        <a th:href="@{/groupe/group/{projetId}(projetId=${projet.getId()})}">
                                            <div class="carte">
                                                <div id="groupeContainer" class="mini-container">
                                                    <img th:src="@{/media/images/utilisateur/{image}(image=${projet.getProjetPhoto()})}" alt="">
                                                    <div class="d-flex flex-column groupRelationInfo">
                                                        <p>[[${projet.getTitre()}]] </p>
                                                        <p>[[${projet.getDescription()}]]</p>
                                                        <p>[[${projet.getDateCreation().toLocalDate()}]]</p>
                                                    </div>

                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <h4 th:if="${projets.isEmpty()}" class="d-flex justify-content-center">Vous n'avez pas encore de projet</h4>
                            <div class="col-md-12">
                                <dialog class="dialogCreateProject">
                                    <button id="closeProjetCreation"><i class="bi bi-x-lg"></i></button>
                                    <div class="creationTitre d-flex justify-content-center mt-2">
                                        <h3>CRÉATION D'UN PROJET</h3>
                                    </div>
                                    <div class="creationForm mt-2 d-flex flex-column align-items-center justify-content-center">

                                        <form th:action="@{/groupe/create}" method="post" enctype="multipart/form-data">
                                            <div class="groupImageHolder mb-3">
                                                <img src="" alt="dadad" id="newfilePreview">
                                                <div class="imgInputHolder">
                                                    <input id="textInput" type="text" name="titre" placeholder="Titre du projet" required>
                                                    <input type="file" name="upload" id="filtInput" accept=".jpg,.png,.webp,.gif">
                                                </div>
                                            </div>
                                            <textarea id="descriptionInput" name="description" placeholder="Description du projet" required></textarea>
                                            <label for="private">Publique</label>
                                            <input type="checkbox" id="private" name="private" class="mb-5">
                                            <input id="submitCreation" type="submit" value="Créer">
                                        </form>
                                    </div>
                                </dialog>
                                <button class="createContainer" id="openProjetCreation">
                                    <p>CRÉER UN PROJET</p>
                                </button>
                            </div>
                            </div>


                        </div>
                        <div th:if="${following != null}" class="data-holder">
                            <!--Row #1-->
                            <div class="carteHolder" th:if="${!following.isEmpty()}" th:each="user : ${following}" style="width: 23em">
                                <div class="carte" style="color: black;">
                                    <a th:href="@{/utilisateur/profil/{pseudo}(pseudo=${user.pseudo})}">
                                        <img th:src="@{/media/images/utilisateur/{image}(image=${user.photoUrl})}"  alt=""></a>
                                    <div class="mini-container" style="padding: 0;">
                                        <p>[[${user.prenom}]] [[${user.nom}]] </p>
                                        <b>@[[${user.pseudo}]]</b>
                                        <p>[[${user.specialisation}]]</p>
                                    </div>
                                    <div class="supprimer">
                                        <p onclick="return modifierRelation(this);" th:user-data="${user.getId()}">RETIRER</p>
                                    </div>
                                </div>
                            </div>
                            <h4 class="d-flex justify-content-center" th:if="${following.isEmpty()}">Vous n'avez pas encore d'abonnements</h4>
                        </div>
                        <div th:if="${followers != null}" class=" data-holder">
                            <!--Row #1-->
                            <div class="carteHolder" th:if="${!followers.isEmpty()}" th:each="user : ${followers}" style="width: 23em">
                                <a class="carte" style="color: black;" th:href="@{/utilisateur/profil/{pseudo}(pseudo=${user.pseudo})}">
                                    <img th:src="@{/media/images/utilisateur/{image}(image=${user.photoUrl})}" alt="">
                                    <div class="mini-container" style="padding: 0;">
                                        <p>[[${user.prenom}]] [[${user.nom}]] <span th:class="'statut ' + ${user.statut}"></span></p>
                                        <b>@[[${user.pseudo}]]</b>
                                        <p>[[${user.specialisation}]]</p>
                                    </div>
                                </a>
                            </div>
                            <h4 class="d-flex justify-content-center" th:if="${followers.isEmpty()}">Vous n'avez pas d'abonnées</h4>
                        </div>


                
                <!--Activité-->

            </div>
                <div class="col-md-4">
                    <div class="activity-holder">
                        <div class="row special-row">
                            <h4>ACTIVITÉ</h4>
                            <hr>
                        </div>
                        <div class="activity-content">
                                <div class="activity-card" th:each="post : ${posts}">
                                    <div class="row px-4 pt-2">
                                        <div class="col-md-2 d-flex justify-content-center align-items-center">
                                            <img class="pfp-activity" th:src="@{/media/images/utilisateur/{image}(image=${post.utilisateur.getPhotoUrl()})}" alt="profil-pic">
                                        </div>
                                        <div class="col-md-10 d-flex justify-content-start align-items-end">
                                            <p><span th:text="${'@'+post.getUtilisateur().getPseudo()}"></span> a publié une oeuvre <img class="post-activity" th:src="@{/media/images/post/{image}(image=${post.listeFichiers[0].urlMedia})}" alt="post"></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="date" th:text="${post.getDate().toLocalDate()}"></p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-10">
                                            <span class="jaime"><i class="bi bi-heart icon-activity"></i> [[${post.nbLikes}]]</span>
                                        </div>
                                        <div class="col-md-2 d-flex justify-content-end align-items-start">
                                            <i class="bi bi-star favoris"></i>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </div>
    <script>
        let openProjetCreation = document.getElementById("openProjetCreation");
        let closeProjetCreation = document.getElementById("closeProjetCreation");
        let dialogCreateProject = document.querySelector(".dialogCreateProject");
        if (openProjetCreation && closeProjetCreation && dialogCreateProject) {
    
            openProjetCreation.addEventListener("click", () => {
                dialogCreateProject.showModal();
            })

            closeProjetCreation.addEventListener("click", () => {
                dialogCreateProject.close();
            })
        }
        function modifierRelation(button){
            let userId = button.getAttribute("user-data");
            button.parentElement.parentElement.parentElement.remove()
            $.ajax({
                type: "POST",
                url: window.location.origin.toString()+"/recherche/updateRelationUsr",
                data: {userId: userId},
                success : function (data) {
                    if(data === "true"){
                        console.log("Controller Reached")

                    }else{
                        console.log("Failed")

                    }
                },
            })

        }
    </script>
    <script th:src="@{/js/script-relation.js?v=5}"></script>

    <div th:replace="${session.user != null} ? ~{fragment/notificationFragment :: notificationFragment} : ~{}"></div>
    <script th:src="@{/js/notification.js?v=16}"></script>
    <script th:if="${session.user.getBackgroundTexture()}">
        const bgTexture = '[[${session.user.getBackgroundTexture()}]]'
        document.body.classList.add(bgTexture)
    </script>
  </body>
  
</html>