<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>ArtSync</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style-settings.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script th:src="@{/js/script-settings.js}" defer></script>
</head>
<body>
    <!--Header-->
    <nav th:replace=" ~{fragment/fragments :: headerUserFragment}"></nav>

    <!--Content-->
    <div class="contentHolder">
        <div class="verticalNavbar">
            <h4>PARAMÈTRES</h4>
            <div class="navHolder">
                <div class="sectionBtn selected" id="compteSection">COMPTE</div>
                <div class="sectionBtn" id="persoSection">PERSONNALISATION</div>
            </div>
        </div>
        <div class="settingHolder">
            <div class="profilContainer">
                <div class="profilPicHolder">
                    <img th:src="@{/media/images/{image}(image=${utilisateur.getPhotoUrl()})}" alt="test">
                </div>
                <div class="profilInfo">
                    <div class="info">
                        <h4 th:text="${utilisateur.getPrenom().toUpperCase()} + ' ' + ${utilisateur.getNom().toUpperCase()}"></h4>

                        <div class="vr"></div>
                        <h4 id="pseudo" th:text="'@'+${utilisateur.getPseudo().toUpperCase()}"></h4>
                    </div>
                    <div class="buttonHolder">
                        <dialog id="supprimerDialog">
                            <div class="dialogPrompt">
                                <h5>Voulez-vous vraiment supprimer votre compte ?</h5>
                                <div class="dialogButtons">
                                    <a th:href="@{/utilisateur/profil/settings/delete}">CONFIRMER</a>
                                    <p id="closeDialog">ANNULER</p>
                                </div>
                            </div>
                        </dialog>
                        <p id="openDialog"> SUPPRIMER COMPTER </p>
                    </div>
                </div>
            </div>
            <form th:action="@{/utilisateur/profil/settings/update}" th:object="${utilisateur}" method="post">
            <div class="profilOptions">
                <div class="accountInfo">
                    <div class="accountHeader" id="compte">
                        <div class="headerAccountButton d-flex">
                            <h4>Information du compte</h4>
                            <i id="editCompte" style="font-size: 25px" class="bi bi-pencil-square"></i>
                        </div>
                        <p>Information concernant votre utilisateur et votre identifiant</p>
                    </div>
                    <div class="accountBody">
                            <div class="inputHeader">
                                <input th:field="*{pseudo}" style="width: 100%" type="text" th:value="'@' +${utilisateur.getPseudo()}" placeholder="Pseudo" name="pseudo" readonly>
                            </div>
                            <div class="inputBody2">
                                <button type="submit">SAUVEGARDER</button>
                            </div>
                    </div>
                </div>
            </div>

            <div class="profilOptions">
                <div class="accountInfo">
                    <div class="accountHeader" id="perso">
                        <div class="headerAccountButton d-flex">
                            <h4>Information personnel</h4>
                            <i id="editPerso" style="font-size: 25px" class="bi bi-pencil-square"></i>
                        </div>
                        <p>Information concernant vos données personnelles </p>
                    </div>
                    <div class="accountBody">
                            <div class="inputHeader2">
                                <input type="email" th:field="*{email}" th:value="${utilisateur.getEmail()}" name="email" placeholder="E-mail" readonly>
                            </div>
                            <div class="inputHeader mt-1">
                                <input  style="width: 100%" type="text" th:field="*{nom}" th:value="${utilisateur.getNom()}" placeholder="Nom" name="nom" readonly>
                                <input type="text" th:field="*{prenom}" th:value="${utilisateur.getPrenom()}" placeholder="Prénom" name="prenom" readonly>
                            </div>

                            <div class="inputBody2">
                                <button type="submit">SAUVEGARDER</button>
                            </div>
                    </div>
                </div>
            </div>

            <div class="profilOptions">
                <div class="accountInfo">
                    <div class="accountHeader" id="utilisateur">
                        <div class="headerAccountButton d-flex">
                            <h4>Information d'utilisateur</h4>
                            <i id="editUser" style="font-size: 25px" class="bi bi-pencil-square"></i>
                        </div>

                        <p>Information concernant votre identifiant</p>
                    </div>
                    <div class="accountBody">
                            <div class="inputHeader2">
                                <input type="password" th:field="*{password}" th:value="${utilisateur.getPassword()}" placeholder="Mot de passe" name="pseudo" readonly>
                            </div>
                            <div class="inputBody2">
                                <button type="submit">SAUVEGARDER</button>
                            </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
        <div class="persoHolder">
            <div class="glowHolder">
                <div class="glowPreviewHolder">
                    <img id="pfpGlow" th:src="@{/media/images/{image}(image=${utilisateur.getPhotoUrl()})}" alt="test">
                    <div class="colorPickerHolder">
                        <input type="color" id="colorPicker">
                        <p id="colorOutput">Fushia</p>
                    </div>
                </div>
            </div>

            <div class="backgroundPickerHolder">
                <h4>Arrière-plan</h4>
                <div class="bgColorHolder mt-2">
                    <div class="backgroundOption" data-colorValue="night-1" id="option1">
                        <div class="pfpFrame">
                            <div class="pfpHeader">
                                <div class="frameBanner">

                                </div>
                               <i class="bi bi-person-circle"></i>
                                <div class="frameInfo"></div>
                            </div>
                            <div class="pfpButtons"></div>
                            <div class="pfpBody">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    <div class="backgroundOption" data-colorValue="night-2"  id="option2">
                        <div class="pfpFrame">
                            <div class="pfpHeader">
                                <div class="frameBanner">

                                </div>
                                <i class="bi bi-person-circle"></i>
                                <div class="frameInfo"></div>
                            </div>
                            <div class="pfpButtons"></div>
                            <div class="pfpBody">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    <div class="backgroundOption" data-colorValue="night-3"  id="option3">
                        <div class="pfpFrame">
                            <div class="pfpHeader">
                                <div class="frameBanner">

                                </div>
                                <i class="bi bi-person-circle"></i>
                                <div class="frameInfo"></div>
                            </div>
                            <div class="pfpButtons"></div>
                            <div class="pfpBody">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    <div class="backgroundOption" data-colorValue="night-4"  id="option4">
                        <div class="pfpFrame">
                            <div class="pfpHeader">
                                <div class="frameBanner">

                                </div>
                                <i class="bi bi-person-circle"></i>
                                <div class="frameInfo"></div>
                            </div>
                            <div class="pfpButtons"></div>
                            <div class="pfpBody">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    <div class="backgroundOption" data-colorValue="night-5"  id="option5">
                        <div class="pfpFrame">
                            <div class="pfpHeader">
                                <div class="frameBanner"></div>
                                <i class="bi bi-person-circle"></i>
                                <div class="frameInfo"></div>
                            </div>
                            <div class="pfpButtons"></div>
                            <div class="pfpBody">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    <div class="backgroundOption" data-colorValue="light-1"  id="option6">
                        <div class="pfpFrame1">
                            <div class="pfpHeader1">
                                <div class="frameBanner1"></div>
                                <i class="bi bi-person-circle"></i>
                                <div class="frameInfo1"></div>
                            </div>
                            <div class="pfpButtons1"></div>
                            <div class="pfpBody1">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    <div class="backgroundOption" data-colorValue="light-2"  id="option7">
                        <div class="pfpFrame1">
                            <div class="pfpHeader1">
                                <div class="frameBanner1"></div>
                                <i class="bi bi-person-circle"></i>
                                <div class="frameInfo1"></div>
                            </div>
                            <div class="pfpButtons1"></div>
                            <div class="pfpBody1">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    <div class="backgroundOption" data-colorValue="light-3"  id="option8">
                        <div class="pfpFrame1">
                            <div class="pfpHeader1">
                                <div class="frameBanner1"></div>
                                <i class="bi bi-person-circle"></i>
                                <div class="frameInfo1"></div>
                            </div>
                            <div class="pfpButtons1"></div>
                            <div class="pfpBody1">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    <div class="backgroundOption" data-colorValue="light-4" id="option9">
                        <div class="pfpFrame1">
                            <div class="pfpHeader1">
                                <div class="frameBanner1"></div>
                                <i class="bi bi-person-circle"></i>
                                <div class="frameInfo1"></div>
                            </div>
                            <div class="pfpButtons1"></div>
                            <div class="pfpBody1">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    <div class="backgroundOption" data-colorValue="light-5" id="option10">
                        <div class="pfpFrame1">
                            <div class="pfpHeader1">
                                <div class="frameBanner1"></div>
                                <i class="bi bi-person-circle"></i>
                                <div class="frameInfo1"></div>
                            </div>
                            <div class="pfpButtons1"></div>
                            <div class="pfpBody1">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
                <h4>Texture</h4>
            </div>
        </div>
    </div>
    <script>
        const editCompte = document.getElementById("editCompte")
        const editPerso = document.getElementById("editPerso")
        const editUser = document.getElementById("editUser")
        const inputs = document.querySelectorAll("input")

        const openDialog = document.getElementById("openDialog")
        const closeDialog = document.getElementById("closeDialog")
        const dialog = document.getElementById("supprimerDialog")
        let open= false

        openDialog.addEventListener("click",function (){
            open=true
            dialog.showModal();
        })
        closeDialog.addEventListener("click", function (){
            open = false
            dialog.close();
        })

        editCompte.addEventListener("click",function(){
            if (inputs.item(0).readOnly){
                inputs.item(0).readOnly = false;
            }else {
                inputs.item(0).readOnly = true;
            }
        });
        editPerso.addEventListener("click",function(){
            if (inputs.item(1).readOnly){
                inputs.item(1).readOnly = false;
                inputs.item(2).readOnly = false;
                inputs.item(3).readOnly = false;
            }else {
                inputs.item(1).readOnly = true;
                inputs.item(2).readOnly = true;
                inputs.item(3).readOnly = true;
            }
        });
        editUser.addEventListener("click",function(){
            if (inputs.item(4).readOnly){
                inputs.item(4).readOnly = false;
            }else {
                inputs.item(4).readOnly = true;
            }
        });
    </script>
</body>