.user-container{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    width: 100%;
    height: 72%;
    gap: 2rem;
    margin-inline: 2.5%;
    margin-top: 3.5%;
    overflow-y: auto;
    padding: 0.5rem;
}
.user{
    padding: 1rem;
    padding-block: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    min-height: 5rem;
    height: fit-content;
    width: 34rem;
    border-radius: 12px;
    border: 3px solid rgba(255, 255, 255, 0.25);
    color: white;
    text-decoration: none;
}
.user:hover{
    background-color: rgba(242, 128, 168, 0.034);
    transition: 0.25s;
    cursor: pointer;
    scale: 1.0125;
}
.user img{
    height: 6.5rem;
    width: 6.5rem;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 1px 2px 2px 2px rgba(0,0,0,0.25);
}

.user-info{
    display: flex;
    flex-direction: column;
    align-self: start;
}
.user-info p{
    margin: 0;
    font-weight: 400;
}
.user-info p:first-child{
    font-size: 1.75rem;
}
.user-info p:last-child{
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.5);
}

.lock{
    align-self: start;
    height: 1.25rem;
    text-align: center;
    margin: 0;
    margin-top: 0.5rem;
    fill: rgba(38, 146, 29, 0.669);
}
