<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html  xmlns:th="http://www.thymeleaf.org" lang="">
    <head>
        <title>ArtSync</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css?v=6}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style-group.css?v=5}"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r126/three.min.js" integrity="sha512-n8IpKWzDnBOcBhRlHirMZOUvEq2bLRMuJGjuVqbzUJwtTsgwOgK5aS0c1JA647XWYfqvXve8k3PtZdzpipFjgg==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.9/dat.gui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/TextPlugin.min.js"></script>
    </head>

    <body class="body-content">
    <button class="verticalButton"><i class="bi bi-caret-right"></i></button>
    <button class="annonceBtn"><i class="bi bi-caret-left"></i></button>
    <!--Header-->
    <nav th:replace="${session.user == null} ? ~{fragment/fragments :: headerFragment} : ~{fragment/fragments :: headerUserFragment}"></nav>

    <!--Contenu-->
    <div th:replace="~{fragment/groupFragments :: groupHeaderFragment}">

    </div>
        <!--Users-->
        <div class="taskShowHolder">
            <form th:action="@{/groupe/group-tache/recherche}" method="post">
                <div class="searchBar">

                    <input type="hidden" name="projetId" th:value="${projet.getId()}">
                    <input class="rechercheUser" type="text" id="tacheSearch" name="keyword" placeholder="Rechercher une tâche">
                    <a th:href="@{/groupe/create/{projetId}(projetId=${projet.getId()})}" class="addTache">
                        CRÉER UNE TÂCHE
                    </a>
                </div>
            </form>

            <div class="taskShowScroller" id="taskShowScroller">
                <div th:if="${taches.empty}" style="width: 100% " class="d-flex justify-content-center">
                    <h4>Aucune tâches</h4>
                </div>
                <div th:each="tache : ${taches}" class="tacheCard">
                    <a th:href="@{/groupe/group-tache/update/{projetId}/{tacheId}(projetId=${projet.getId()}, tacheId=${tache.getId()})}" class="tacheCardHeader">
                        <div class="d-flex align-item-center justify-content-between">
                            <h4>[[${tache.getTitre()}]]</h4>
                            <p>[[${tache.dateCreation.toLocalDate()}]] <i class="bi bi-clock"></i></p>
                        </div>

                        <p>[[${tache.getDescription()}]]</p>

                        <p class="etat" th:id="${tache.getEtat() == 'En cours' ? 'encours' : (tache.getEtat() == 'Terminé' ? 'terminee' : 'noncommencee')}">[[${tache.getEtat()}]]</p>
                        <hr>
                    </a>
                    <div th:object="${tache.getUtilisateur()}" class="d-flex tacheInfoUser">
                        <img th:src="@{/media/images/utilisateur/{image}(image=${tache.getUtilisateur().getPhotoUrl()})}" alt="">
                        <div class="d-flex flex-column tacheInfoUserCredentials">
                            <p>[[${tache.utilisateur.getNom()}]] [[${tache.utilisateur.getPrenom()}]]</p>
                            <b>@[[${tache.utilisateur.getPseudo()}]]</b>
                        </div>
                        <div class="tacheOptionsRight">
                            <a th:href="@{/groupe/group-tache/{projetId}/{tacheId}(projetId=${projet.getId()}, tacheId=${tache.getId()})}" class="tacheCardFooterRightBtn"><i class="bi bi-trash"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--Annonces-->
    <div th:replace="~{fragment/annonceFragment :: annoncesFragment}">

    </div>
    </body>
    <script th:src="@{/js/script-group.js?v=5}"></script>
</html>