:host{
    height: 80%;
    max-height: 60vh;
    flex-grow: 1;
}

.general-view{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    min-height: 41rem;
    height: 90%;
    width: 95%;
    border-radius: 13px;
    border: 3px solid rgb(0,0,0,0.25);
}
.section-container{
    display: flex;
    justify-content: center;
    position: absolute;
    top: -5%;
    width: 95%;
    height: 8rem;
    gap: 2rem;
}
.section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1.25px solid rgb(0,0,0,0.25);
    border-radius: 8px;
    height: 5rem;
    width: 18rem;
    background-color: rgb(245,246,255);
    box-shadow: 0px 5px 5px rgb(0,0,0,0.25);
    color: black;
    text-decoration: none;
}
.section:hover{
    background-color: rgb(198,201,231,1);
    cursor: pointer;
    scale: 1.05;
    transition: 0.25s;
    box-shadow: 0px 9px 9px 5px rgb(0,0,0,0.15);
}
.selected{
    background-color: rgb(198,201,231,1);
    box-shadow: 0px 9px 9px 5px rgb(0,0,0,0.15);
    scale: 1.05;
}
.section p{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}

.general-content{
    margin-top: 4%;
    height: 90%;
    width: 95%;
}