<app-search-specific></app-search-specific>
<div class="post-container">
    <div class="post">
        <h4>Totori IRL</h4>
        <img src="../../assets/images/ultraRealisticTotoro.png" alt="">
        <div class="post-info">
            <p>Illustration magnifique sur le personnage Totoro avec une style realistique produite par une IA</p>
        </div>
    </div>  

    <!--EFFACE À PARTIR D'ICI-->
    <div class="post">
        <h4>Totori IRL</h4>
        <img src="../../assets/images/ultraRealisticTotoro.png" alt="">
        <div class="post-info">
            <p>Illustration magnifique sur le personnage Totoro avec une style realistique produite par une IA</p>
        </div>
    </div>  

    <div class="post">
        <h4>Totori IRL</h4>
        <img src="../../assets/images/ultraRealisticTotoro.png" alt="">
        <div class="post-info">
            <p>Illustration magnifique sur le personnage Totoro avec une style realistique produite par une IA</p>
        </div>
    </div>  

    <div class="post">
        <h4>Totori IRL</h4>
        <img src="../../assets/images/ultraRealisticTotoro.png" alt="">
        <div class="post-info">
            <p>Illustration magnifique sur le personnage Totoro avec une style realistique produite par une IA</p>
        </div>
    </div>  

    <div class="post">
        <h4>Totori IRL</h4>
        <img src="../../assets/images/ultraRealisticTotoro.png" alt="">
        <div class="post-info">
            <p>Illustration magnifique sur le personnage Totoro avec une style realistique produite par une IA</p>
        </div>
    </div>  

    <div class="post">
        <h4>Totori IRL</h4>
        <img src="../../assets/images/ultraRealisticTotoro.png" alt="">
        <div class="post-info">
            <p>Illustration magnifique sur le personnage Totoro avec une style realistique produite par une IA</p>
        </div>
    </div>  

</div>
