<app-search-specific (searchQuery)="searchPost($event)"></app-search-specific>
<div class="post-container">
    <a [routerLink]="['/overview/post/comments']" class="post">
        <h4>Totori IRL</h4>
        <img src="../../assets/images/ultraRealisticTotoro.png" alt="">
        <div class="post-info">
            <p>Illustration magnifique sur le personnage Totoro avec une style realistique produite par une IA</p>
        </div>
    </a>  

    <!--EFFACE À PARTIR D'ICI-->
    <a [routerLink]="['/overview/post/comments']" class="post">
        <h4>Totori IRL</h4>
        <img src="../../assets/images/ultraRealisticTotoro.png" alt="">
        <div class="post-info">
            <p>Illustration magnifique sur le personnage Totoro avec une style realistique produite par une IA</p>
        </div>
    </a>  
    <a [routerLink]="['/overview/post/comments']" class="post">
        <h4>Totori IRL</h4>
        <img src="../../assets/images/ultraRealisticTotoro.png" alt="">
        <div class="post-info">
            <p>Illustration magnifique sur le personnage Totoro avec une style realistique produite par une IA</p>
        </div>
    </a>  
    <a [routerLink]="['/overview/post/comments']" class="post">
        <h4>Totori IRL</h4>
        <img src="../../assets/images/ultraRealisticTotoro.png" alt="">
        <div class="post-info">
            <p>Illustration magnifique sur le personnage Totoro avec une style realistique produite par une IA</p>
        </div>
    </a>  
    <a [routerLink]="['/overview/post/comments']" class="post">
        <h4>Totori IRL</h4>
        <img src="../../assets/images/ultraRealisticTotoro.png" alt="">
        <div class="post-info">
            <p>Illustration magnifique sur le personnage Totoro avec une style realistique produite par une IA</p>
        </div>
    </a>  
    <a [routerLink]="['/overview/post/comments']" class="post">
        <h4>Totori IRL</h4>
        <img src="../../assets/images/ultraRealisticTotoro.png" alt="">
        <div class="post-info">
            <p>Illustration magnifique sur le personnage Totoro avec une style realistique produite par une IA</p>
        </div>
    </a>  
</div>
