<app-search-specific></app-search-specific>
<div class="file-container">
    <div class="file">
        <div class="file-info">
            <img src="../../assets/images/ultraRealisticTotoro.png" alt="">
            <b>&#64;johnDoe</b>
        </div>
    </div>  

    <!--EFFACE À PARTIR D'ICI-->
    <div class="file">
        <div class="file-info">
            <img src="../../assets/images/ultraRealisticTotoro.png" alt="">
            <b>&#64;johnDoe</b>
        </div>
    </div>  
    <div class="file">
        <div class="file-info">
            <img src="../../assets/images/ultraRealisticTotoro.png" alt="">
            <b>&#64;johnDoe</b>
        </div>
    </div>  
    <div class="file">
        <div class="file-info">
            <img src="../../assets/images/ultraRealisticTotoro.png" alt="">
            <b>&#64;johnDoe</b>
        </div>
    </div>  
    <div class="file">
        <div class="file-info">
            <img src="../../assets/images/ultraRealisticTotoro.png" alt="">
            <b>&#64;johnDoe</b>
        </div>
    </div>  
    <div class="file">
        <div class="file-info">
            <img src="../../assets/images/ultraRealisticTotoro.png" alt="">
            <b>&#64;johnDoe</b>
        </div>
    </div>  
    <div class="file">
        <div class="file-info">
            <img src="../../assets/images/ultraRealisticTotoro.png" alt="">
            <b>&#64;johnDoe</b>
        </div>
    </div>  
    <div class="file">
        <div class="file-info">
            <img src="../../assets/images/ultraRealisticTotoro.png" alt="">
            <b>&#64;johnDoe</b>
        </div>
    </div>  
    <div class="file">
        <div class="file-info">
            <img src="../../assets/images/ultraRealisticTotoro.png" alt="">
            <b>&#64;johnDoe</b>
        </div>
    </div>  

</div>
