<app-search-specific (searchQuery)="searchForum($event)"></app-search-specific>
<div class="forum-container">
    <a [routerLink]="['/overview/forum/comments']" class="forum">
        <div class="forum-info">
            <h4>J'adore Totoro</h4>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam quo 
                repellat nam perspiciatis similique fuga dolore dolorum! 
                Repellat amet praesentium distinctio deserunt quis quo, incidunt libero 
                iste nisi est vitae?
            </p>
            <b>&#64;johnDoe</b>
        </div>
    </a> 

    <!--EFFACE À PARTIR D'ICI-->
    <a [routerLink]="['/overview/forum/comments']" class="forum">
        <div class="forum-info">
            <h4>J'adore Totoro</h4>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam quo 
                repellat nam perspiciatis similique fuga dolore dolorum! 
                Repellat amet praesentium distinctio deserunt quis quo, incidunt libero 
                iste nisi est vitae?
            </p>
            <b>&#64;johnDoe</b>
        </div>
    </a> 
    <a [routerLink]="['/overview/forum/comments']" class="forum">
        <div class="forum-info">
            <h4>J'adore Totoro</h4>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam quo 
                repellat nam perspiciatis similique fuga dolore dolorum! 
                Repellat amet praesentium distinctio deserunt quis quo, incidunt libero 
                iste nisi est vitae?
            </p>
            <b>&#64;johnDoe</b>
        </div>
    </a> 
    <a [routerLink]="['/overview/forum/comments']" class="forum">
        <div class="forum-info">
            <h4>J'adore Totoro</h4>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam quo 
                repellat nam perspiciatis similique fuga dolore dolorum! 
                Repellat amet praesentium distinctio deserunt quis quo, incidunt libero 
                iste nisi est vitae?
            </p>
            <b>&#64;johnDoe</b>
        </div>
    </a> 
    <a [routerLink]="['/overview/forum/comments']" class="forum">
        <div class="forum-info">
            <h4>J'adore Totoro</h4>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam quo 
                repellat nam perspiciatis similique fuga dolore dolorum! 
                Repellat amet praesentium distinctio deserunt quis quo, incidunt libero 
                iste nisi est vitae?
            </p>
            <b>&#64;johnDoe</b>
        </div>
    </a> 
</div>
