<app-search (searchQuery)="searchPost($event)"></app-search>
<div class="post-container">
    @for (post of posts; track $index) {
        <a [routerLink]="['/overview/post/comments/',post.id]" class="post">
            <h4>{{post.titre}}</h4>
            @if(post.type !== 'video'){
                <img src="{{BASE_PUBLICATION_PHOTO_PATH+post.listeFichiers[0].urlMedia}}" alt="">
            }@else{
                <video src="{{BASE_PUBLICATION_PHOTO_PATH+post.listeFichiers[0].urlMedia}}" controls playsinline ></video>
            }
            <div class="post-info">
                <p>{{post.texte}}</p>
            </div>
        </a>  
    }
</div>
