.forum-container{
    width: 35rem;
    height: 42rem;
    background-color: transparent;
    border: 2px solid rgb(0,0,0,0.25);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    scale: 0.9;
}

.forum-header{
    display: flex;
    justify-content: start;
    gap: 1rem;
    width: 26rem;
}
.forum-header button{
    position: absolute;
    top: -3.5%;
    right: 1%;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: rgb(245, 144, 144);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(58, 58, 58);
}
.forum-header button svg{
    font-weight: 600;
    margin: 0;
}
.forum-header button:hover{
    background-color: rgb(217, 111, 111);
    cursor: pointer;
    color: rgb(0,0,0,0.55);
}
.forum-identity{
    margin-top: 0.15rem;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    justify-self: center;
    width: 100%;
}
.forum-identity p{
    margin: 0;
    font-size: 30px;
    margin-top: 0.5rem;
}
.forum-info-holder h5{
    margin: 0;
    font-size: 1.25rem;
    font-weight: 450;
    text-align: start;
    width: 100%;
}

.author{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-top: 0.5rem;
    border-radius: 8px;
    border: 2px solid rgb(0,0,0,0.25);
    width: 24rem;
    padding: 1rem;
    text-decoration: none;
    color: black;
}
.author:hover{
    background-color: rgba(253, 157, 157, 0.07);
    transition: 0.25s;
    cursor: pointer;

}
.author img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}
.author div{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    height: 100%;
}
.author h5{
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0;
}
.author p {
    margin: 0;
}
.forum-info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 2rem;
    align-items: center;
}
.forum-info h4{
    font-size: 1.8rem;
    font-weight: 400;
    border-bottom: 1px solid black;
    width: 12rem;
    align-self: flex-start;
    margin-bottom: 0.5rem;
}
.forum-info-holder{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 26rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
}
.forum-cell{
    display: flex;
    flex-direction: column;
    width: 28.5rem;
    margin-top: 1rem;
}
.forum-cell h5{
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}
.forum-cell p{
    font-size: 20px;
    font-weight: 300;
    margin: 0;
}