/* Balises anchored*/ 
body {
    font-family: system-ui;
    overflow-x: hidden;
}

.bodyContainer{
    height: 300vh;
}
/*
------------------------------
    Header styles
------------------------------
*/
.nom-site{
    font-size: 45px;

}
.nav-link {
}
.nav-link:hover {
    color: #d86e6e;
}	
.active {
    font-family: system-ui;

}
.inscrire {
    background-color: #000000;
    text-decoration: none;
    font-size: 13px;
    color: rgb(255, 255, 255) !important;
    border-radius: 5px;
    margin-inline: 10px;
    margin-block: 10px;
    padding: 10px;
}
.inscrire:hover {
    transition: 0.5s;
    scale: 1.1;
    color: white;
}

.nav-item a {
    text-decoration: none;
    color: #2b2a2a;
    width: 5rem;
    margin: 0;
    text-align: center;
}
.iconButton{
    display: none;
}
.headerPopup{
    display: none;
    height: 0;
    width:12rem;
    right: 5%;
    z-index: 1000;
    border-radius: 7px;
    border:1px solid rgb(0,0,0,0.5);
    opacity: 0;
    position: absolute;
    padding-block: 1rem;
    background-color: aliceblue;
    background: radial-gradient(circle, rgba(251,242,235,1) 0%, rgba(221,229,239,1) 100%);
}

.headerPopup ul{
    width: 100%;
    display: none;
    flex-direction: column;
    list-style: none;
    padding-inline: 1.5rem;
}
.headerPopup ul li{
    height: 0rem;
}
.headerPopup ul li a{
    font-size: 19px;
    text-decoration: none;
    color: black;
}
.headerPopup ul li a:hover{
    transform: translateX(5%);
    background-color: rgb(0,0,0,0.25);
}

/*
-----------------------------------
    Dialog animation
-----------------------------------
 */
dialog[open]:not(#appel-notif) {
    animation: fadeIn 0.5s ease normal;
}

@keyframes fadeIn{
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* 
------------------------------
    Footer Styles
------------------------------
*/
.footer{
    bottom: 0;
    margin-top: 300px;
    width: 100%;
    background-color: #000000;
}
/* 
------------------------------
   Misc
------------------------------
*/

/* Scroll wheel*/
::-webkit-scrollbar {
    width: 7.5px;
    margin-right: 125px;
    background-color: transparent;
}
::-webkit-scrollbar-track {
    background: rgb(255,255,255,0); 
}  
::-webkit-scrollbar-thumb {
background: #888; 
border-radius: 25px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

#notification-pop-liste{
    display: flex;
    gap: 1em;
    flex-direction: column;
    position: fixed;
    justify-content: end;
    left: 2vw;
    bottom: 2%;
    width: 20vw;
    max-height: 100vh;
}

/*===== Container avec une notification =====*/
.notification-pop-container{
    width: 100%;
    min-height: 12vh;
    padding: 1em;
    font-size: 1rem;
    transform: translateX(-200%);
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 8px 14px 12px 0px rgba(0,0,0,0.3);
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.notification-pop-container h4{
    line-height: 1rem;
}

.notification-pop-container hr{
    transform: translateX(-5%);
}

.body-notification-pop{
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.body-notification-pop i{
    box-shadow: 8px 14px 22px 0px rgba(0,0,0,0.3);
    border-radius: 50%;
    width: 1.5em;
    text-align: center;
    font-size: 1.1rem;
    background-color: rgba(27, 117, 4, 0.836);
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-bottom: 0.1em;
    color: whitesmoke;
}

/*===== Background selon les types =====*/
.notification-danger{
    background: rgba(226, 59, 59, 0.856);
    color: rgb(241, 226, 213);
}

.notification-info{
    background: rgba(212, 211, 211, 0.856);
}

.notification-warn{
    background: rgba(215, 163, 31, 0.71);
    color: rgb(241, 226, 213) !important;
}

.notification-success{
    background: rgba(29, 179, 96, 0.856);
    color: rgb(241, 226, 213);
}

/*===== Animation pour faire apparaitre une notification normal =====*/
.slide-left{
    animation-name: slide-left;
    animation-duration: 5.5s;
    animation-fill-mode: forwards;
}

.slide-left:hover, .shake:hover{
    animation-play-state: paused;
    outline: 1px solid rgba(0,0,0,0.5);
}

@keyframes slide-left {
    0%{
        transform: translateX(-200%);
        opacity: 0;
    }
    10%{
        transform: translateX(0);
        opacity: 0.5;
    }
    15%{
        opacity: 1;
    }
    90%{
        transform: translateX(0);
        opacity: 1;
    }
    100%{
        transform: translateX(-200%);
        display: none;
    }
}

/*===== Animation pour faire apparaitre une notification lors d'un appel =====*/
.shake{
    animation:slide 1s, shake 0.3s, disapear 2s;
    animation-iteration-count: 1,15, 1;
    animation-delay: 0s, 1s, 4.5s;
}

@keyframes slide {
    from{
        opacity: 0;
    }
    to{
        transform: translateX(0);
    }
}

@keyframes shake {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(5%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes disapear {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-200%);
        display: none;
    }
}

/*========== notification appel ==========*/
#appel-notif[open]{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    box-sizing: content-box;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    height: 50vh;
    width: 50vh;
    z-index: 100000;
    backdrop-filter: blur(5px) contrast(77%) saturate(221%);
    border-radius: 5%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: transparent;
    margin: 0;
}

#appel-notif img{
    height: 30%;
    width: 30%;
    border-radius: 100000px;
    object-fit: cover;
}

#appel-notif span{
    opacity: 0;
    height: 0;
    margin-top: 0.5em;
    transition: all 500ms ease-in-out;
}

#appel-notif img:hover + span{
    opacity: 1;
    font-size: 1.2rem;
}

.appel-notif-chat-animation{
    animation-name: appelNotifChat;
    animation-duration: 400ms;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

@keyframes appelNotifChat {
    0%{
        border: 3px solid rgba(0, 0, 0, 0.3);
    }
    55%{
        border: 1px solid rgba(0, 0, 0, 0.3);
    }
    100%{
        border: 3px solid rgba(0, 0, 0, 0.3);
    }
}

.control-holder {
    position: absolute;
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 2;
    background-color: #3d3c3c3f;
    border: 1px solid rgba(0, 0, 0, 0.308);
    backdrop-filter: blur(10px);
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 1000000000px;
}

.button-video {
    border: none;
    cursor: pointer;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: #2b2a2a;
    color: #c9d7dc;
    font-size: 2rem;
    transition: all 0.2s ease-in-out;
}

.button-video:hover {
    background-color: #faf3f3;
    transform: scale(1.13);
}

.button-video:hover i{
    color: #1b1b1b !important;
}
/*-------THEME--------*/

.whiteFont, .whiteFont .navbar-brand, .whiteFont .nav-item > a, .whiteFont .btnSection, .whiteFont .publier{
    border-color: rgb(255,255,255,0.3);
    color: white !important;
}

.night-1{
    background: rgb(77,53,131);
    background: radial-gradient(ellipse at top left, rgba(77,53,131,0.8) 6%, rgba(9,9,121,0.8) 58%, rgba(2,0,36,0.8) 100%);
}
.night-2{
    background: rgb(98,0,15);
    background: radial-gradient(ellipse at top right, rgba(98,0,15,0.8) 6%, rgba(64,16,6,0.8) 46%, rgba(2,0,36,0.8) 100%);
}
.night-3{
    background: rgb(97,97,97);
    background: radial-gradient(ellipse at top left, rgba(97,97,97,0.8) 6%, rgba(55,55,55,0.8) 46%, rgba(2,0,36,0.8) 100%);
}
.night-4{
    background: rgb(37,87,59);
    background: radial-gradient(ellipse at top right, rgba(37,87,59,0.8) 6%, rgba(12,52,42,0.8) 46%, rgba(2,0,36,0.8) 100%);
}
.night-5{
    background: rgb(113,107,48);
    background: radial-gradient(ellipse at top left, rgba(113,107,48,0.8) 6%, rgba(92,85,21,0.8) 46%, rgba(2,0,36,0.8) 100%);
}
.light-1{
    background: rgb(245,252,255);
    background: radial-gradient(ellipse at top right, rgba(245,252,255,1) 8%, rgba(216,240,255,1) 39%, rgba(216,251,255,1) 67%);
}
.light-2{
    background: rgb(234,249,255);
    background: radial-gradient(ellipse at top left, rgba(234,249,255,1) 13%, rgba(255,252,225,1) 48%, rgba(254,235,255,1) 72%);
}
.light-3{
    background: rgb(254,255,254);
    background: radial-gradient(ellipse at top right, rgba(254,255,254,1) 14%, rgba(249,255,216,0.896796218487395) 44%, rgba(216,255,229,1) 69%);
}
.light-4{
    background: rgb(254,255,254);
    background: radial-gradient(ellipse at top left, rgba(254,255,254,1) 14%, rgba(224,224,224,1) 60%, rgba(198,198,198,0.896796218487395) 98%);
}
.light-5{
    background: rgb(254,255,254);
    background: radial-gradient(ellipse at top right, rgba(254,255,254,1) 14%, rgba(236,210,225,1) 60%, rgba(224,168,171,0.896796218487395) 98%);
}
.texture1{
    background-image: url("");
}
.texture2{
    background-image: url("/media/images/texture1.png");
}
.texture3{
    background-image: url("/media/images/texture2.png");
}
.texture4{
    background-image: url("/media/images/texture3.png");
}
.texture5{
    background-image: url("/media/images/texture4.png");
}
.texture6{
    background-image: url("/media/images/texture5.png");
}
.texture7{
    background-image: url("/media/images/texture6.png");
}
.texture8{
    background-image: url("/media/images/texture7.png");
}
.texture9{
    background-image: url("/media/images/texture8.png");
}
.texture10{
    background-image: url("/media/images/texture9.png");
}
.texture11{
    background-image: url("/media/images/texture10.png");
}
.texture12{
    background-image: url("/media/images/texture11.png");
}
.texture13{
    background-image: url("/media/images/texture12.png");
}
.texture14{
    background-image: url("/media/images/texture13.png");
}
.texture15{
    background-image: url("/media/images/texture14.png");
}
.texture16{
    background-image: url("/media/images/texture15.png");
}

.overlay{
    display: none;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    mix-blend-mode: multiply;
    background-repeat: repeat;
    pointer-events: none;
    width: 100%;
    height: 300vh;
    z-index: -1;
}

@media only screen and (max-width: 700px) {
    .nav-item{
        display: none;
    }
    .iconButton{
        display: block;
        align-self: end;
        font-size: 25px;

    }
    .navbar>.container{
        flex-wrap: nowrap !important;
        padding-inline: 1.5rem;
        width: 100%;

    }

    #notification-pop-liste{
        width: 100vw;
        height: fit-content;
        flex-direction: column-reverse;
        justify-content: start;
        align-items: center;
        left: 0;
        top: 0;
        z-index: 200000000000;
        opacity: 1;
    }

    .notification-pop-container{
        transform: translateY(-100%);
        max-width: 95%;
    }

    .notification-info{
        background: rgb(212, 211, 211);
    }

    @keyframes slide-left {
        0%{
            transform: translateY(-100%);
            opacity: 0;
        }
        10%{
            transform: translateY(0);
            opacity: 0.5;
        }
        15%{
            opacity: 1;
        }
        90%{
            transform: translateY(0);
            opacity: 1;
        }
        100%{
            transform: translateX(-100%);
            display: none;
        }
    }

    @keyframes slide {
        from{
            opacity: 0;
        }
        to{
            transform: translateY(0);
        }
    }

    @keyframes shake {
        0%{
            transform: translateX(0);
        }
        50%{
            transform: translateX(5%);
        }
        100%{
            transform: translateX(0);
        }
    }

    @keyframes disapear {
        from{
            transform: translateY(0);
        }
        to{
            transform: translateX(-200%);
            display: none;
        }
    }

    #appel-notif{
        height: 100dvh !important;
        width: 100dvw !important;
        margin-left: .5em;
    }

    #appel-notif img{
        height: 15em !important;
        width: 15em !important;
    }
}