/* Balises anchored*/ 
body {
    font-family: system-ui;
    height: 300vh;
    overflow-x: hidden;
}
/*
------------------------------
    Header styles
------------------------------
*/
.nom-site{
    font-size: 45px;
    color: #000000;

}
.nav-link {
    color: #000;
}
.nav-link:hover {
    color: #d86e6e;
}	
.active {
    font-family: system-ui;
    color: rgb(0, 0, 0);
}
.inscrire {
    background-color: #000000;
    text-decoration: none;
    font-size: 13px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-inline: 10px;
    margin-block: 10px;
    padding: 10px;
}
.inscrire:hover {
    transition: 0.5s;
    scale: 1.1;
    color: white;
}


/* 
------------------------------
    Footer Styles
------------------------------
*/
.footer{
    bottom: 0;
    margin-top: 300px;
    width: 100%;
    background-color: #000000;
}
/* 
------------------------------
   Misc
------------------------------
*/

/* Scroll wheel*/
::-webkit-scrollbar {
    width: 7.5px;
    margin-right: 125px;
    background-color: transparent;
}
::-webkit-scrollbar-track {
    background: rgb(255,255,255,0); 
}  
::-webkit-scrollbar-thumb {
background: #888; 
border-radius: 25px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}