body{
    height: 300vh;
}

.body-content{
    background: radial-gradient(ellipse at top, #ededed 25%, #c4dbe8 100%) fixed;
}
.content{
    display: flex;
    margin-top: 2%;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/*-------------------NAVBAR VERTICAL CONTAINER-------------------*/
.verticalHeader{
    position: sticky;
    top: 3%;
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 100vh;
    border-right: 1px solid rgba(0, 0, 0, 0.4);
}

.verticalHeader h4{
    margin-left: 12%;
}
.verticalHeader hr{
    width: 85%;
    align-self: center;
}
.sectionsHolder{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    margin-top: 2%;
    margin-left: 12%;
}
.section{
    display: flex;
    justify-content: start;
    gap: 1rem;
    width: 100%;
    height: 3rem;
    margin-top: 1rem;
    text-decoration: none;
    color: black;
}
.section:hover{
    transform: translateX(0.5rem);
    transition: 0.2s;
    cursor: pointer;
}
.section i{
    font-size: 25px;
}
.section p{
    font-size: 17px;
    font-weight: 450;
    margin-top:0.25rem;
}
.sectionFilter{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
    width: 100%;
    height: 3rem;
    margin-top: 1rem;
    margin-left: 12%;
}

.filterForm{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.filterForm div{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.filterForm input{

    width: 2rem;
    height: 2rem;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: transparent;
    padding-inline: 1rem;
    

}
/*-------------------FORUM CONTENT-------------------*/
.forumContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 100%;

}
.rechercheContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}

.rechercheForm{
    display: flex;
    justify-content: center;
    width: 85%;
    margin-top: 2%;

}
.rechercheForm input{
    width: 70%;
    height: 2.25rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: transparent;
    padding-inline: 1rem;
}
.rechercheForm input:focus{
    outline: none;
    transition: 0.2s;
    scale: 1.025;

}
.rechercheForm button{
    height: 2.25rem;
    border-radius: 5px;
    border: none;
    background: radial-gradient(ellipse at right, #4f5cd0a0 35%,#4b4bfaf6 100%);
    color: white;
    margin-left: 1%;
}

.rechercheForm button:hover{
    scale: 1.1;
    transition: 0.2s;
}

.resultHolder{
    display: flex;
    gap: 1.5rem;
    padding: 1%;
    flex-direction: column;
    width: 85%;
    height: 100%;
    margin-top: 3%;

    align-items: center;;
}

.forumHolder{
    border: 1px solid rgba(194, 194, 194, 0.4);
    background: rgb(225,245,255,0.5);
    background: radial-gradient(circle, rgba(225,245,255,0.25) 0%, rgba(233,245,255,0.25) 51%, rgba(226,250,255,0.5) 100%);
    border-radius: 15px;
    width: 85%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    scale: 0.5;
    opacity: 0;
    transition: 0.25s;
}
.forumHolder:hover{
    background: radial-gradient(circle, rgba(225,245,255,0.5) 0%, rgba(233,245,255,0.5) 51%, rgba(226,250,255,0.75) 100%);
    transition: 0.2s;
    scale: 1.025;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.threadHeader{

    height: 15%;
    width: 83%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 2.5rem;
}
.threadHeader p{
    width: 100%;
    font-size: 27px;
    font-weight: 600;
}
.deleteIcon {
    font-size: 26px;
    margin-bottom: 0.75rem;
}

.threadInfo{
    display: flex;
    width: 90%;
    height: 15%;
}

.threadUserPfp{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 15%
}
.threadUserPfp img{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 15%;

}
.threadUserInfo{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
    justify-content: center;
}
.threadUserInfo p{
    font-size: 15px;
    font-weight: 450;
    margin: 0;
    margin-left: 1%;
}
.threadTags{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}
.tag{
    border: 1.5px solid black;
    padding-inline: 1rem;
    border-radius: 25px;
    font-size: 15px;
    margin: 0;
}

#conseil{
    border-color: rgb(10, 176, 157);
    color:rgb(10, 176, 157) ;
}
#question{
    border-color: rgb(235, 119, 36);
    color: rgb(235, 119, 36);
}
#feedback{
    border-color: rgb(52, 167, 255);
    color: rgb(52, 167, 255);
}
#annonce{
    border-color: rgb(194, 57, 47);
    color: rgb(194, 57, 47);
}
#inspiration{
    border-color: rgb(202, 159, 32);
    color: rgb(202, 159, 32);
}
#projet{
    border-color: rgb(94, 78, 213);
    color: rgb(94, 78, 213);

}

.threadContent{
    margin-top: 1rem;
    display: flex;
    padding: 0.75rem;
    width: 85%;
    height: fit-content;
    font-size: 19px;

}
.threadOptions{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 85%;
    height: 15%;
    align-items: center;
    font-size: 19px;
}

.chatThread{
    margin-top: 1rem;
    background-color: rgba(0, 0, 0, 0.053);
    padding: 0.5rem;
    border-radius: 12px;
    margin-bottom: 0;
}
.chatThread:hover{
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.2s;
    scale: 1.025;
    cursor: pointer;
}
#chevron{
    opacity: 0.5;
}
#chevron:hover{
    font-size: 22px;
    opacity: 1;
    transform: translateX(10%);
    transition: 0.25s;
}

.commentSection{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin-top: 2%;
    min-height: 0;
    height: 0px;
    width: 100%;
    padding-top: 1rem;
    border-radius: 0px 0px 12px 12px ;
}
.commentForm{
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 2.5rem;
    opacity: 0;
}
.commentForm input{
    background-color: transparent;
    border: 1px solid black;
    border-radius: 15px;
    padding-inline: 1rem;
    outline: none;
    width: 60%;
}
.commentForm button{
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #5381ff;
    color: white;
    width: 15%;
}
.commentForm button:hover{
    border-radius: 8px;
    border: 1px solid #5381ff;
    background-color: transparent;
    color: #5381ff;
    transition: 0.1s;
}
.comment{
    display: flex;
    align-items: center;
    padding-inline: 2% ;
    padding-block: 3%;
    position: relative;
    opacity: 0;
    min-height: 5rem;
    border-radius: 8px;
    backdrop-filter: brightness(0.9);
    width: 85%;
    gap: 2rem;
}
.comment img{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}
.commentContent{
    padding-block: 1rem;
    height: fit-content;
    width: 70%;
}
/*-------------------FILTER CONTENT-------------------*/
.filterContent{
    position: sticky;
    top:3%;
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 100vh;
    border-left: 1px solid rgba(0, 0, 0, 0.4);
}
.notificationHolder{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 2%;
    align-items: center;
}
.notifcationContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    height: 25rem;
    width: 90%;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: rgb(0,0,0,0.05);
}
.notifcationContainer h5{
    margin-top: 1rem;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    opacity: 0.5;
}

.notifcationContainer .notification{
    width: 100%;
    height: 20%;
    padding: 1em;
    font-size: 1.05rem;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    gap: 1em;
    cursor: pointer;
}

.notifcationContainer .notification:hover{
    padding-left: 1.3em;
    padding-right: 0.7em;
    background-color: rgb(0, 0, 0, 0.07);
    font-size: 1.1rem;
}

.notification{
    text-decoration: none;
    color: black;
}
/*---------------DIALOG----------------*/
#creationDialog{
    border: none;
    outline: none;
    border-radius: 10px;
    flex-direction: column !important;
    height: 80%;
    width: 70%;
    background: radial-gradient(ellipse at top, #ededed 40%, #98cce8 100%) fixed;
    box-shadow: rgba(157, 157, 157, 0.5) 0px 0px 15px 15px;
}


.dialogHeader{
    width: 100%;
    height: 10%;
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}
.dialogHeader i{
    width: 5%;
    font-size: 25px;
}
.dialogHeader h4{
    margin: 0;
    margin-left: 2%;
    font-size: 25px;
}

.dialogHeader i:hover{
    font-size: 26px;
    color: #ad2d2d;
    transition: 0.25s;
    cursor: pointer;
}
.formHolder{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85%;
    width: 100%;
}
.form{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.form input{
    background-color: transparent;
    border-radius: 8px;
    padding-inline: 1%;
    height: 3rem;
    font-size: 22px;
    width: 100%;
}
#titreInput{
    width: 100% !important;
}
#fileButton{
    display: none;
    position: relative;
    right: 2rem;
    height: 2rem;
}
.form textarea{
    background-color: transparent;
    border-radius: 8px;
    padding: 1%;
    width: 100%;
    height: 50%;
    resize: none;
    font-size: 18px;
}
.form label{
    font-size: 22px;
    align-self: start;
    margin: 0;
}
.form button{
    border: none;
    background-color: #5381ff;
    color: white;
    height: 4rem;
    width: 7rem;
    border-radius: 7px;
}
.form button:hover{
    border:4px solid #5381ff;
    background-color: transparent;
    color: #5381ff;
    transition: 0.25s;
}
#radioBtn{
    display: flex;
    gap: 1rem;
    align-self: start;
}
.filterHolder{
    margin-top: 1rem;
    height: 9rem;
    width: auto;
    margin-inline:auto;
    display: flex;
    flex-wrap: wrap;

}
.filterHolder div{

    gap: 1rem;
    display: flex;
    align-self: start;
}
.filterHolder div input{
    width: 1rem;
    height: 1rem;
    margin-left: 1rem;
}
.filterHolder div label{
    font-size: 16px;
    margin: 0;
    align-self: center;
}
#fichierLabel{
    background-color: rgba(111, 166, 239);
    opacity: 0.5;
    color: white;
    padding: 0.5rem;
    padding-inline: 0.7rem;
    text-align: center;
    font-family: sans-serif;
    border-radius: 7px;
    margin-left: 5%;
    cursor: pointer;

}
#fichierLabel:hover{
    opacity:1;
    transition: 0.25s;
}

#expandButton{
    display: none;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    position: sticky;
    border: 1px solid black;
    background-color: transparent;
    top: 10%;
    margin-left: -4%;
}
.deleteDialog[open]{
    height: 15rem;
    width: 28rem;
    border: none;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}
.deleteDialog h6{
    font-size: 18px;
}
.deleteDialog div{
    margin-top: 5%;
    display: flex;
    gap: 2rem;
    justify-content: center;
}
.deleteDialog button{
    border: 3px solid #5381ff;
    border-radius: 8px;
    background-color: #5381ff;
    color: white;
    width: 8rem;
    height: 3rem;
}
.deleteDialog button:hover{
    background-color: transparent;
    color: #5381ff;
    transition: 0.25s;
}
@media only screen and (max-width: 700px) {
    body{
        height: fit-content;
    }
    .filterContent{
        display: none;
    }
    .verticalHeader{
        position: sticky;
        width: 0;
        opacity: 0;
    }
    .forumContent, .resultHolder{
        width: 100%;
    }
    .threadInfo{
        width: 100%;
        align-items: center;
    }
    .threadUserPfp{
        width: 50%;
    }
    .threadTags{
        justify-content: end;
    }
    .tag{
        scale: 0.75;
    }
    .commentForm button{
        font-size: 15px;
        width: 25%;
    }
    .comment{
        padding-inline: 7% !important;
    }
    .section,.sectionFilter,.sectionsHolder{
        width: 85%;
    }
    .form{
        width: 95%;
    }
    #expandButton{
        display: block;
    }
}