.bodyContainer{
    display: flex;
    flex-direction: column;
    min-height: 150vh;

}

/*-------------------PROFIL SECTION-------------------*/
.contentHolder{
    align-self: center;
    height: 50rem;
    width: 90%;

}
.bannerHolder{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 45%;
    background-color: rgba(15, 15, 15, 0.735);
}
.bannerHolder img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 100%;

}
.bannerHolder img:hover{
    cursor: pointer;
    scale: 0.99;
    filter: brightness(0.8) blur(5px);
    transition: 0.25s;

}
.pfpHolder{
    position: relative;
    z-index: 1;
    top: -15%;
    left: 10%;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: 8px solid rgba(255, 249, 237, 0.4);

}
.pfpHolder:hover{
    box-shadow: 5px 10px 15px 10px rgba(0, 0, 0, 0.278);
    scale: 1.05;
    transition: 0.25s;
    cursor: pointer;
}
.pfpHolder img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.infoContainer{
    display: flex;
    position: relative;
    height: 21%;
    top: -30%;
    backdrop-filter: brightness(0.96) blur(12px);
}
.infoHolder{
    height: 100%;
    width: 75%;
    padding-top: 1%;
    padding-left: 24%;
}
.infoHolder h4{
    font-size: 40px;
    margin-bottom: 0.2%;
}
.infoHolder p{
    font-size: 20px;
    margin-bottom: 0.5%;
}
.supInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 20%;
    width: 50%;
}
.supInfo p{
    font-size: 15px;
    margin: 0;
    opacity: 0.5;
}
.supInfo p:hover{
    opacity: 1;
    cursor: pointer;
    transition:  0.25s;
}
.optionHolder{
    display: flex;
    gap: 2%;
    height: 100%;
    width: 25%;
    padding-top: 1%;
    justify-content: center;

}
.buttonsHolder{
    display: flex;
    gap: 10%;
    height: 25%;
    width: 45%;
    margin-right: 2%;

}
.buttonsHolder a{
    background-color: transparent;
    border: none;
    width: 100%;
    opacity: 0.5;
    font-size: 30px;
}
.buttonsHolder a:hover{
    color: rgb(55, 149, 208);
    opacity: 1;
    transition: 0.25s;
    cursor: pointer;
}

.publier{
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: transparent;
    border-radius: 7px;
    font-size: 20px;
    padding-inline:1.25rem;
    margin: 0;
}
.publier:hover{
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.25s;
    cursor: pointer;
}

.sectionBtnContainer{
    position: relative;
    top: -30%;
    backdrop-filter: brightness(0.96) blur(12px);
    display: flex;
    width: 100%;
    height: 5%;
}

.sectionBtnContainer button:hover{
    background-color: #c7e8f557;
    transition: 0.1s;
    border-bottom: 3px solid rgba(143, 187, 250, 0.8);
}

.selectbtn{
    background-color: #c7e8f557 !important;
    border-bottom: 3px solid rgba(143, 187, 250, 0.8) !important;
}
.btnSection{
    background-color: transparent;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.307);
    width: 100%;
    font-size: 20px;
}

.sectionHolder{
    position: relative;
    top: -30%;
    padding-block: 2rem;
    padding-inline: 2rem;
    height: fit-content;
    backdrop-filter: brightness(0.92) blur(12px);
}

/*DIALOGUE SECTION*/

.pfpPane{
    flex-direction: column;
    align-items: center;
    padding-block: 1rem;
    padding-inline: 1rem;
    height:28rem;
    border: none;
    border-radius: 10px;
    background: radial-gradient(ellipse at top right, #ededed 25%, #989ce8 100%) fixed;
    box-shadow: rgba(172, 171, 192, 0.5) 0px 0px 15px 15px;
    width: 40rem;
}
.pfpPreview{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 8rem;
}
.pfpPreview img{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    object-fit: cover;
    opacity: 1;
}
#pfpBase{
    margin-left: 25%;
}
.postPane{
    flex-direction: column;
    align-items: center;
    padding-block: 1rem;
    padding-inline: 1rem;
    min-height: 50rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 40rem;
}
.dialogHeader{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.postPreviewHolder{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    font-size: 100px;
    color: rgba(0, 0, 0, 0.5);
    width: 95%;
    height: 25rem;
    background-color: rgba(193, 193, 193, 0.8);
}
.postPreviewHolder img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: fill;
}
#placeholderIcon{
    position: absolute;
    z-index: -1;
}
#fermer{
    float: right;
    font-size: 20px;
}
#fermer:hover{
    cursor: pointer;
    font-weight: bold;
}

.postForm{
    width: 100%;
}
.form-head{
    margin-top: 2%;
    display: flex;
    gap: 47%;
    align-items: center;
    width: 100%;


}
.form-headInput{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
}
.post-button{
    background-color: #dbdbdb;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    font-size: 20px;
    margin-top: 1rem;
}
.post-button:hover{
    cursor: pointer;
    transition: 0.25s;
    background-color: #a8a8a8;
}

.publicationPane{
    flex-direction: column;
    align-items: center;
    padding-block: 1rem;
    padding-inline: 1rem;
    height: 45rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 40rem;

}

/*-------------------POST SECTION-------------------*/

.postHolder{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.publication{
    height: 20rem;
    min-width: 20rem;
    margin: 1rem;
    border: 1px solid black;
    border-radius: 7px;
    background-color: rgb(0,0,0,0.1);
}
.publication:hover{
    cursor: pointer;
    scale: 1.05;
    transition: 0.25s;
}
.publication img, .publication video{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.publication:has(>video){
    position: relative;
}

.btn-open-interraction-video{
    opacity: 0;
    position: absolute;
    font-size: 1.2rem;
    height: 2em;
    width: 2em;
    z-index: 10000;
    left: -5%;
    top:-5%;
    border-radius: 50%;
    border: none;
    color: white;
    background: rgba(43, 42, 42, 0.6);
    transition: all 0.5s ease-in-out;
}

.publication:hover .btn-open-interraction-video{
    opacity: 1;
}

.btn-open-interraction-video:hover{
    scale: 1.1;
}

.poste{
    display: flex;
    width: 60%;
    height: 30em;
    padding: 1em;
    gap: 1rem;
    border-radius: 10px;
    /* margin-left: 10em; */
    margin-right: auto;
    margin-bottom: 2em;
    background: radial-gradient(ellipse at top, #ededed 40%, #98cce8 100%) fixed;
}

.poste > img, .poste > video{
    height: 100%;
    width: 50%;
    border-radius: 5px;
    object-fit: cover;
}

.card-post{
    height: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.liste-commentaires{
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    flex-grow: 1;
    justify-content: flex-start;
}

.commentaire {
    display: flex;
    align-items: center;
    gap: 1em;
    margin: 0;
    flex-wrap: wrap;
}

.commentaire p {
    margin: 0;
    max-width: 70%;
    flex-grow: 1;
}

.description{
    font-size: 1.2rem;
    margin-bottom: 0.3em;
}

.env-commentaire{
    width: 100%;
}

.env-commentaire .input-box-commentaire{
    width: 100%;
    height: 2.5rem;
    padding: .5rem;
    display: flex;
    gap: .5rem;

}

.input-box-commentaire input[type=text]{
    width: 80%;
    height: 2rem;
    padding: .5rem;
    border-radius: 10px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.69);
}

.input-box-commentaire button{
    height: 2rem;
    width: 20%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: #dbdbdb;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.icones-interactions{
    display: flex;
    gap: 1rem;
}

.icon-img{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.icon-img p{
    margin-bottom: 0;
}



/*-------------------PORTFOLIO SECTION-------------------*/

.portfolioHolder{
    display: none;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}

.templatePlaceHolder{
    align-self: center;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    padding:0.5rem;
    gap: 5px;
    height: 50rem;
    background-color: rgba(153, 208, 255, 0.5);
    border: 4px solid rgb(52, 140, 255,0.5);
    border-radius: 12px;
    width: 40rem;
}

.case {
    background-color: rgba(147, 194, 255, 0.5);
    border: 3px solid rgb(52, 140, 255,0.5);
    border-radius: 5px;
}
.case1x1{
    grid-column: span 1;
    grid-row: span 1;
}
.case2x2{
    grid-column: span 2;
    grid-row: span 2;
}
.case1x2{
    grid-column: span 1;
    grid-row: span 2;
}
.case2x1{
    grid-column: span 2;
    grid-row: span 1;
}
.case3x1{
    grid-column: span 3;
    grid-row: span 1;
}
.case4x1{
    grid-column: span 4;
    grid-row: span 1;
}
.case1x4{
    grid-column: span 1;
    grid-row: span 4;
}
.createPortfolio{
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 25px;
    border-radius: 10px;
    background-color: #2b2a2a;
    padding-inline: 1rem;
    margin-top: 5rem;
    display: flex;
    text-decoration: none;

}

.post{
    padding: 0.15rem;
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post img {
    width: 100%;
    height: 100%;
}
.createPortfolio i{
    font-size: 30px;
    color: rgb(255, 191, 88);
}
.createPortfolio p{
    font-size: 20px;
    color: rgb(56, 56, 56);
    margin: 0;
}
.createPortfolio:hover{
    cursor: pointer;
}

/*--------------------DIALOGUE----------------------*/
.newImage{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    position: relative;
}
#pfpPreview{
    opacity: 0;
    position: relative;
    left: -25%;
}
.arrow{

    font-size: 35px;
    opacity: 0;
}

#dialogBanner[open]{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    height: 88%;
    border: none;
    border-radius: 10px;
    background: radial-gradient(ellipse at top, #ededed 40%, #98cce8 100%) fixed;
    box-shadow: rgba(172, 171, 192, 0.5) 0px 0px 15px 15px;
}
.bannerPreview{
    margin-top: 2rem;
    height: 70%;
    width: 75%;
    background-color: rgba(92, 145, 225, 0.18);
    border-radius: 15px;
    border: 6px dashed #5381af;
}
.bannerPreview img{
    object-fit: cover;
}
.bannerForm{
    margin-top: 2rem;

}

.button-dialog{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 30px;
    outline: none;
}

#dialog-card-focus{
    border: none;
    box-sizing: content-box;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 1000;
    padding: 0;
    height: 40em;
    width: 70vw;
    border-radius: 10px;
    overflow: hidden;
    transition: opacity 5s ease-in-out;
    box-shadow: rgba(172, 171, 192, 0.5) 0px 0px 15px 15px;
}

#dialog-card-focus > .poste{
    transform: rotate(0deg) !important;
    height: 100%;
    width: 100%;
}

#dialog-card-focus > button{
    position: absolute;
    top: 0;
    right: 0;
    height: 2em;
    width: 2em;
    z-index: 2;
    border: none;
    background: transparent;
    padding: 0;
    font-size: 1.5rem;
}

#dialog-card-focus .poste > img{
    min-width: 65%;
}

#dialog-card-focus > button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

#dialog-card-focus::backdrop{
    backdrop-filter: blur(10px);
}

@media only screen and (max-width: 700px) {
    .pfpHolder{
        height: 6rem;
        width: 6rem;
        top: -24%;
        left: 2%;
    }
    .bannerHolder{
        height: 25%;
        margin-bottom: 41%;
    }
    .infoContainer{
        height: fit-content;
        padding-bottom: 1rem;
    }
    .infoHolder{
        padding-left: 30%;
    }
    .infoHolder h4{
        font-size: 25px;
    }
    .infoHolder p{
        font-size: 12px;
    }
    .supInfo {
        gap: 0.5rem;
        transform: translateX(-100%);
    }
    .supInfo p {
        width: 100%;
        font-size: 10px;
    }

    .optionHolder{
        flex-direction: column;
        justify-content: start;
    }
    .publier{
        transform: translateX(-30%);
        scale: 0.8;
    }
    .templatePlaceHolder{
        height: 25rem;
        width: 20rem;
    }
    .pfpPane, #dialogBanner{
        width: 95%;

    }
    #dialogBanner{
        height: 70% !important;
        overflow-x: hidden;
    }
    .bannerPreview{
        height: 50%;
        width: 95%;
    }
    #file-input2, #file-input3{
        margin-inline: 25%;
    }

    #dialog-card-focus{
        width: 100vw;
        height: 90vh;
        top: 95%;
    }

    #dialog-card-focus > .poste{
        width: 100vw;
        height: 90vh;
        padding-bottom: 1em;
    }

    .poste{
        flex-direction:column;
    }

    .poste > img, .poste > video{
        width: 100%;
        height: 50%;
        object-fit: contain;
    }

    .card-post{
        font-size: 0.7rem;
        width: 100%;
    }

}



