.bodyContainer{
    height: auto;
}

.social-holder{
    box-shadow: 12px 21px 35px 4px rgba(0,0,0,0.1);
    height: 700px;
    /* From https://css.glass */
    background: rgba(123, 245, 255, 0.03);
    border-radius: 16px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(123, 245, 255, 0.3);
}

a{
    text-decoration: none !important;
}

.relation-button{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(225,225,225);
    background: radial-gradient(ellipse at top, #ededed 25%,#dfeef4 100%) fixed;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    justify-content: center;
    align-items: start;
    width: calc(fit-content + 15px);
    height: 150%;
    padding: auto;
    line-height: 22px;
}
.relation-button p{
    margin: 0px;
    font-size: 20px;
    font-family: system-ui;
    font-weight: 350;
    text-align: left;
    padding-left: 15px;    
}
.relation-button small{
    font-size: 12px;
    font-family: system-ui;
    font-weight: 355;
    color: rgba(0, 0, 0, 0.7);
    text-align: left;
    padding-left: 15px; 
}
.relation-button small span{
    color: rgb(73, 182, 59);

}
.relation-button:hover{
    scale: 1.05;
    transition: 0.15s;
    box-shadow: 0px 0px 10px 10px rgb(0, 0, 0, 0.1);
}

.relation-button-active{
    scale: 1.05;
    transition: 0.15s;
    box-shadow: 0px 0px 10px 10px rgb(0, 0, 0, 0.1);
}

.data-container{
    display: flex;
    flex-direction: column;
    
}
.anti-row-param{
    padding-inline: 37px;
    padding-bottom: 10px;
}
.anti-row-param h4{
    font-family: system-ui;
    font-weight: 400;
    color: rgb(0, 0, 0);
    margin: 0px;
}
.anti-row-param i:last-child{
    font-size: 17.5px;
}
.anti-row-param i:hover{
    color: rgb(115, 115,115);
    cursor: pointer;
}
.data-holder{
    padding-inline: 1.5rem;
    max-height: 30rem;
    margin-inline: 20px;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    gap: 0.75rem;
    overflow-y: auto;
    overflow-x: hidden;
    align-content: flex-start;

}

.carte{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 7px;
    height: 7rem;
    width: 100%;
    opacity: 0;
    margin-top: 0.5rem;
    padding-inline: 1rem;
    gap: 2rem;
}
.animate{
    animation: appear 0.65s ease-in-out;
    opacity: 1;
}

.carte:hover{
    cursor: pointer;
    scale: 1.03;
    transition: 0.15s;
    box-shadow: 12px 21px 35px 4px rgba(0,0,0,0.1);
}
.carte img{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
}
.mini-container{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: start;
    width: 100%;
}

.mini-container img{
    height: 15%;
    width: 4rem;
    border: none;
    border-radius: 7px;
}
.mini-container p{
    margin: 0;
}
.mini-container p img{
    filter: invert(100%);
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.5rem;
}

#groupeContainer{
    display: flex;
    flex-direction: row !important;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    width: 100%;
}
#groupeContainer img{
    height: 5rem;
    width: 5rem;
    object-fit: cover;
}
.groupRelationInfo p{
    margin: 0;
    color: rgb(0, 0, 0);
}
.groupRelationInfo p:last-child{
    font-size: 12px;
    color: rgb(0, 0, 0, 0.7);
}
.statut {
    display:inline-block;
    align-items: center;
    justify-content: end;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 0px;
    margin-bottom: 1px;
}
.online{
    background-color: rgb(73, 182, 59);

}
.offline{
    background-color: rgb(174, 174, 174);
}

.supprimer{

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(248, 103, 103);
    color: rgb(248, 103, 103);
    border-radius:2px;
    text-align: center;
    height: 2rem;

    width: 60%;
}
.supprimer:hover{
    background-color: rgb(255, 69, 69);
    color: white;
    cursor: pointer;
}
.supprimer p {
    font-size: 12px;
    margin: 0px
}
.page{
    font-size: 12px;
    padding-top: 5px;
    letter-spacing: 3px;
}
.page i:hover{
    font-size: 14px;
    transition: 0.2s;
    filter: invert(750%);
}

@keyframes appear {
    from {
      opacity: 0;
      scale: 1.1;
      filter: blur(5px);
    }
    to {
      opacity: 1;
    }
}

.special-row{
    padding-top: 140px;
    padding-right: 50px;
}
.activity-content{

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-block: 25px;

}
.activity-card{
    border: 1px solid rgb(182, 182, 182,0.4);
    border-radius: 5px;
    min-height: fit-content;
    width: 85%;
    font-size: 14px;
    line-height: 15px;
    padding-bottom: 20px;
    padding-top: 10px;
}
.activity-card:hover{
    scale: 1.015;
    cursor: pointer;
    transition: 0.25s;
    box-shadow: 12px 21px 38px -20px rgba(0,0,0,0.1);
}
.activity-card span{
    font-weight: 550;
}
.activity-card hr{
    opacity: 0.2;
    margin-inline: 25px;
}
.date{
    font-weight: 200;
    opacity: 0.7;
    margin-inline: 80px;
    margin-bottom: 0px;
}
.jaime{
    margin-inline: 27px;
    opacity: 0.8;
    font-weight: lighter
}
.jaime i:hover{
    color: rgb(248, 103, 103);
    transition: 0.25s;
}
.favoris{
    margin-inline: 27px;
    opacity: 0.8;
    font-weight: lighter
}
.favoris:hover{
    color: rgb(232, 198, 44);
    transition: 0.25s;
}
.pfp-activity{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    object-fit: cover;
}
.post-activity{
    border-radius: 0px;
    height: 30px;
}
.date-container{

    width: 90%;

}
.date-container p {
    width: 100%;

    text-align: center;
    font-weight: 100;
    margin: 0px;
    opacity: 0.7;

}
.date-container p:hover{
    opacity: 1;
    cursor: pointer;
}
.createContainer{
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6rem;
    border: 4px dotted rgba(92, 162, 237, 0.4);
    border-radius: 5px;
    background: aliceblue;
    text-align: center;
    color: rgb(62, 152, 255);
    font-weight: 500;
    

}

.createContainer:hover{
    background: rgba(92, 162, 237, 0.4);
    transition: 0.25s;
    cursor: pointer;

}
.createContainer p{
    margin: 0px;
}

.dialogCreateProject{
    width: 30%;
    height: fit-content;
    background: radial-gradient(ellipse at top, #ededed 25%,#dceff6 100%) fixed;
    border: 1px solid rgb(154, 200, 255,0.5);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.177) 0px 0px 15px 20px;
}
#closeProjetCreation{
    float: right;
    border: 0px;
    background: transparent;
    font-weight: 600;
}
.creationForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.groupImageHolder{
    height: 8rem;
    width: 100%;
    display: flex;
    align-items: center;
}
.groupImageHolder img{
    height: 8rem;
    width: 8rem;
    border-radius: 5px;
    border: 1px solid black;
}
.imgInputHolder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;

}
#textInput{
    width: 85%;
    height: 2rem;
    border: 1px solid rgb(0, 0, 0, 0.5);
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 100;
    padding-inline: 0.5rem;
    padding-top: 0.25rem;
    background-color: transparent;
    margin-bottom: 2rem;
}
#filtInput{
    width: 85%;
    height: 2.5rem;
    border: 1px solid rgb(0, 0, 0, 0.5);
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 100;
    padding-inline: 0.5rem;
    padding-top: 0.25rem;
    background-color: transparent;
    margin-bottom: 2rem;

}
#descriptionInput{
    resize: none;
    width: 100%;
    height: 9rem;
    border: 1px solid rgb(0, 0, 0, 0.5);
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 100;
    padding-inline: 0.5rem;
    padding-top: 0.25rem;
    background-color: transparent;
}

#selectInput{
    width: 100%;
    height: 2rem;
    border: 1px solid rgb(0, 0, 0, 0.5);
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 100;
    padding-inline: 0.5rem;
    padding-top: 0.25rem;
    background-color: transparent;
    margin-bottom: 2rem;
}
#dateInput{
    width: 100%;
    height: 2rem;
    border: 1px solid rgb(0, 0, 0, 0.5);
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 100;
    padding-inline: 0.5rem;
    padding-top: 0.25rem;
    background-color: transparent;
    margin-bottom: 2rem;

}
#submitCreation{
    width: 100%;
    height: 2rem;
    border: 0px;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 100;
    padding-inline: 0.5rem;
    padding-top: 0.25rem;
    background-color: rgb(255, 255, 255, 0.5);
    margin-bottom: 2rem;
    background-color: rgb(62, 152, 255);
    color: white;
    font-weight: 500;
}
#submitCreation:hover{
    background-color: rgb(62, 152, 255, 0.5);
    transition: 0.25s;
    cursor: pointer;
}
.creationTitre{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
}
.carte{
    height: fit-content;
    padding-block: 1rem;
}

@media only screen and (max-width: 700px) {
    .social-holder{
        height: fit-content;
        padding-block: 2rem;
    }
    .activity-holder{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .activity-content{
        align-items: center;
    }
    .special-row, .anti-row-param{
        width: 100% !important;
        padding-inline: 5%;
        text-align: center;
    }
    .data-holder{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-inline: 5%;
        padding-inline: 0;
    }
    .carteHolder{
        width: 90% !important;

    }
    .carte{
        height: fit-content !important;
        padding-block: 1rem;
    }
    .carte img  {
        height: 4rem;
        width: 4rem;
    }
    .rowOption{
        flex-direction: column;
        gap: 0.75rem;
    }
    .rowOption a{
        padding-block: 5rem;
        height: fit-content !important;

    }
    .relation-button{
        height: 4rem;
    }
    .dialogCreateProject{
        width: 98%;
    }
}