.body-content{
    background: radial-gradient(ellipse at top, #ededed 25%,#a7c9d5 100%) fixed;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 2%;
    
}
.pageHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 3%;
    width: 100%;
    margin-bottom: 2rem;
}

.pageHeader h2{
    text-align: center;
    font-size: 40px;
    font-weight: 350;
    color: #373737;
}
.timeButtons{
    display: flex;
    margin-top: 2%;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3%;
    gap: 0.5rem;
}

.selectedButton{
    background-color: #d7d7d7 !important;
}
.timeButtons button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 2rem;
    height: 2rem;
    border-radius: 7px;
    border: 1px solid black;
    background-color: transparent;
    font-size: 20px;
    font-weight: 350;
    color: #373737;
    margin: 0.5rem;
}
.timeButtons button:hover{
    background-color: #e0e0e0;
    scale: 1.05;
    transition: 0.25s;
    cursor: pointer;
}
.topShowcaseContainer{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    max-height: 50dvh;
    gap: 2em;
    margin-top: 20%;
}
.podium{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    backdrop-filter: blur(10px) brightness(0.8);
}
.podium h4{
    font-weight: 1000;
    color: #373737;
    transform: translateY(-200%);
}
#first{
    color: #ffe26f88;
    font-size: 40px;
}
#second{
    color: #757474;
    font-size: 30px;
}
#third{
    color: #b08f5c;
    font-size: 25px;
}

#first,#second,#third{
    position: fixed;
    margin: auto;
    top: 100%;
}

.imgHolder{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 10rem;
    opacity: 0.9;
    border-radius: 7px;
    background-color: transparent;
    transform: translateY(-110%);
}
.imgHolder:hover{
    box-shadow: 0 0 25px 12px rgb(255, 237, 199);
    scale: 1.1;
    transition: 0.5s;
    opacity: 1;
    cursor: pointer;
}
.imgHolder img{
    width: 10rem;
    height: 10rem;
    border-radius: 7px;
    object-fit: cover;
}

#container3D{
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.ribbon{
    position: absolute;
    overflow: hidden;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.rib1{
    background: radial-gradient(circle, rgba(207, 184, 114, 0.161) 0%, rgb(0, 60, 128) 100%);

    width: 0%;
    height: 5rem;
    transform: translateY(400%) translateX(-5%) rotate(-5deg) ;
}
.rib2{
    background: radial-gradient(circle, rgba(250, 237, 164, 0.285) 0%, rgb(200, 161, 84) 100%);
    width: 0%;
    height: 5rem;
    transform: translateY(400%) translateX(-5%) rotate(-5deg) ;
}
.rib3{
    background: radial-gradient(circle, rgba(255, 245, 210, 0.107) 0%, rgba(54, 69, 79, 1) 100%);

    width: 0%;
    height: 5rem;
    transform: translateY(400%) translateX(-5%) rotate(-5deg) ;
}
.postHolder{
    display: flex;
    flex-direction: column;
    height: 45rem;
    overflow-y: auto;
    width: 80%;
    margin-top: 10%;
    border: 1px solid black;
    padding: 3%;
    gap: 1rem;
    opacity: 0;
    border-radius: 7px;
    backdrop-filter: blur(10px) brightness(0.85);
    margin-bottom: 5em;
}

.postHolderHeader{
    display: flex;
    align-items: center;
    width: 100%;
    height: 3rem;
    font-size: 20px;
    margin-bottom: 2%;
}

.lastHeader{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 3rem;
    margin-right: 3.5%;

}
.postHolderHeader:first-child p{
    margin-left: 2%;
}
.post{
    opacity: 0;
    display: flex;
    align-items: center;
    border: 1px solid rgb(0,0,0,0.2);
    border-radius: 10px;
    height: 7rem;
    width: 100%;
    background-color: rgba(200, 244, 255, 0.2);
}
.post:hover{
    scale: 1.015;
    box-shadow: 0 0 25px 12px rgba(243, 237, 227, 0.3);
    transition: 0.5s;
    cursor: pointer;
}

.ranking{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    height: 7rem;
    color: rgb(84, 84, 84);
    text-align: center;
    border-radius: 10px 0 0 10px;
    margin-right: 4%;
    margin-left: 2.5%;
}
.postImgHolder{
    display: flex;
    justify-content: center;
    height: 5rem;
    width: auto;
}
.postImgHolder img{
    border-radius: 10px;
    height: 5rem;
    width: 5rem;
    object-fit: cover;
}
.postInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    height: 100%;
    margin-left: 2%;
}

.postInfo h4{
    font-size: 25px;
    font-weight: 450;
    margin:0;
    color: #373737;
}
.postInfo p{
    font-size: 20px;
    font-weight: 350;
    color: #373737;
    margin: 0;
}
.postValue{

    display: flex;
    width: 90%;

    justify-content: end;
    margin-right: 2%;
    
}
.postValue h4{
    font-size: 25px;
    font-weight: 450;
    color: #373737;
    margin: 0;
}
.postValue i{
    margin: 0;
}

#firstPost{
    background-color: #ffe26f20;
}
#secondPost{
    background-color: #75747420;
}
#thirdPost{
    background-color: #b08f5c20;
}

.card-3d{
    width: 350px;
    height: 300px;
    border-radius: 10px;
    perspective: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-90%);
}

.content-card{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: transform 0.15s ease-out, box-shadow 0.25s ease-in-out;
    overflow: hidden;

}

.content-card:hover{
    box-shadow: 0px 0px 15px 2px rgba(255, 218, 194, 0.8);
}

.desc{
    position: absolute;
    display: flex;
    gap: 1em;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    min-height: 20%;
    border-radius: 5px;
    color: azure;
    transform: translateX(-100%);
    transition: all 0.5s cubic-bezier(.79,.01,.48,.99);
    z-index: 2;
}

.profile-pic-card{
    height: 3.5em;
    width: 3.5em;
    border-radius: 100000px;
    position: relative;
    top: -20px;
    left: 5px;
    object-fit: cover;
}

.titre{
    display: block;
    font-size: 1.2rem;
    font-weight: 400;
}

.fleche{
    height: 40px;
    width: 40px;
    border-radius: 100000px;
    outline: none;
    border: none;
    background-color: beige;
    font-size: 1.5rem;
    text-align: center;
    line-height: 0;
    font-weight: 600;
    transition: all 0.15s ease-out;
    text-decoration: none;
    color: black;
    margin: 0.3em 0.5em 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fleche:hover{
    transform: scale(1.1);
    text-shadow: 2px 3px 7px rgba(0,0,0,0.9);
}

.content-card .img-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.15s ease-out;
    border-radius: 5px;
    z-index: 0;
}

.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.glow{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.15s ease-out;
    border-radius: 5px;
    background: radial-gradient(circle at 80% 180%, rgba(248, 243, 228, 0.22), transparent);
    mix-blend-mode: hard-light;
    pointer-events: none;
}

.glow-2{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 97%;
    width: 97%;
    border: 20px solid transparent;
    backdrop-filter: blur(2px);
    z-index: 1;
    pointer-events: none;
}

@media only screen and (max-width: 700px) {
     .imgHolder img, .card-3d{
        height: 6rem;
         width: 6rem;
     }
    .postHolder{
        width: 95%;
    }
    .postValue{
        margin-right: 1rem;
    }
    .podium{
        width: 5rem;
    }
    .desc{
        opacity: 0;
    }
}