.user-container{
    width: 35rem;
    height: 42rem;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    scale: 0.9;
}

.user-header{
    display: flex;
    gap: 1rem;
}
.user-header button{
    position: absolute;
    top: -3.5%;
    right: 1%;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: rgb(245, 144, 144);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(58, 58, 58);
}
.user-header button svg{
    font-weight: 600;
    margin: 0;
}
.user-header button:hover{
    background-color: rgb(217, 111, 111);
    cursor: pointer;
    color: rgb(0,0,0,0.55);
}
.user-header img{
    width: 8.25rem;
    height: 8.25rem;
    border-radius: 50%;
    position: absolute;
    top: -6%;
    left: 8%;
    box-shadow: 0px 5px 5px 3px rgb(0,0,0,0.25);
}
.user-identity{
    margin-top: 0.15rem;
    margin-left: 12rem;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    transform: translate(-20%,0%);
}
.user-identity p{
    margin: 0;
}
.user-identity p:first-child{
    font-size: 1.8rem;
    font-weight: 400;
}
.user-identity p:last-child{
    font-size: 1.3rem;
    font-weight: 300;
}
.user-info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 3rem;
    align-items: center;
}
.user-info h4{
    font-size: 1.8rem;
    font-weight: 400;
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 12rem;
    align-self: flex-start;
    margin-bottom: 0.9rem;
}
.user-info-holder{
    display: flex;
    gap: 1rem;
    width: 26rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
}
.user-cell{
    display: flex;
    flex-direction: column;
    width: 12.5rem;
}
.user-cell h5{
    font-size: 23px;
    font-weight: 500;
    margin: 0;
}
.user-cell input{
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 1.25rem;
    font-weight: 300;
    margin: 0;
    border-radius: 7px;
    color: rgba(255, 255, 255, 0.628);
}
.user-cell select{
    border: none;
    background-color: rgba(29, 29, 29, 0.9);
    backdrop-filter: blur(5px) brightness(0.7);
    outline: none;
    font-size: 1.25rem;
    font-weight: 300;
    margin: 0;
    border-radius: 7px;
    color: rgba(255, 255, 255, 0.628);
}
#modifierButton{
    width: 100%;
    height: 2.5rem;
    background-color: rgba(255, 255, 255, 0.106);
    border: 1px solid rgba(255, 255, 255, 0.25);
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.25s;
    opacity: 0;
}
#modifierButton:hover{
    background-color: rgba(255, 255, 255, 0.045);
}
.user-cell select:disabled{
    background-color: transparent;
}
.user-cell select option{
    backdrop-filter: blur(5px) brightness(0.7);
    color: rgb(253, 253, 253);
}
.user-options{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.25rem;
    width: 30rem;
}
.user-options a{
    width: 8rem;
    height: 8rem;
    border-radius: 8px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.25);
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
.user-options a svg{
    height: 2rem;
    width: 2rem;
    margin-top: 1rem;
    fill: white;
}
.user-options a p{
    margin: 0;
    margin-top: 1rem;
    font-size: 1rem;
    color: white;
}
.user-options a:hover{
    background-color: rgba(191, 191, 191, 0.1);
    transition: 0.25s;
}
.selected{
    background-color: rgba(191, 191, 191, 0.1) !important;
}