<div th:fragment="annoncesFragment" class="projectContainer2">
    <div class="annonceHeader">
        <p>ANNONCES <i th:if="${projet.getAdmin() != null and session.user != null and projet.getAdmin().getId()==session.user.getId()}" class="bi bi-plus-square" id="add"></i></p>
        <form th:action="@{/groupe/group/{projetId}(projetId=${projet.id})}" method="post" class="annonceForm">
            <input type="text" name="message" placeholder="Entrer une annonce" id="inputAnnonce">
        </form>
    </div>
    <div class="annonceHolder">
        <div th:each="annonce : ${annonces}" class="annonce">
            <p>[[${annonce.getMessage()}]]</p>
            <p><b>@[[${annonce.getUtilisateur().getPseudo()}]]</b></p>
            <p>2024-03-31</p>
            <hr>
        </div>
    </div>
</div>