
<nav th:fragment="headerFragment" class="navbar navbar-expand-lg" id="header">
    <div class="container semi-bold">
        <a th:href="@{/index}" class="nav-link">
            <h3>ArtSync</h3>
        </a>
        <div class="navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item ">
                    <a class="nav-link mx-2" th:href="@{/}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" th:href="@{/explorer}">Explorer</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/classement}" > Classement</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" th:href="@{/forum}">Forum</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/recherche(filtre='UTILISATEUR')}">Rechercher</a>
                </li>
                <li class="nav-item ms-3 inscrire">
                    <a class="inscrire" th:href="@{/authentification}">CONNEXION</a>
                </li>
                <li class="iconButton">
                    <i class="bi bi-list"></i>
                    <div class="headerPopup">
                        <ul>
                            <li>
                                <a th:href="@{/}">Accueil</a>
                            </li>
                            <li>
                                <a th:href="@{/explorer}">Explorer</a>
                            </li>
                            <li>
                                <a th:href="@{/classement}" > Classement</a>
                            </li>
                            <li>
                                <a th:href="@{/forum}">Forum</a>
                            </li>
                            <li>
                                <a th:href="@{/recherche(filtre='UTILISATEUR')}">Rechercher</a>
                            </li>
                            <li>
                                <a th:href="@{/authentification}">Connexion</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script>
        const menuicon = document.querySelector(".iconButton")
        const pop = document.querySelector(".headerPopup")
        let open = false
        menuicon.addEventListener("click",function(){
            console.log("HIII")
            if (!open){
                open =true
                pop.style.display = "flex"

                gsap.to(pop,{
                    height:"17rem",
                    duration:0.5,
                    delay:0.1,
                    opacity: 1,
                    ease:"back"
                })
                pop.querySelector("ul").style.display = "flex"
                pop.querySelector("ul").querySelectorAll("li").forEach(listItem =>{
                    listItem.style.display = "list-item"
                    gsap.to(listItem,{
                        height:"fit-content",
                        duration:0.1,
                        delay:0.4,
                    })
                })
            }else{
                open = false

                gsap.to(pop,{
                    height:"1rem",
                    duration:0.1,
                    ease:"sine",
                    opacity: 0
                })
                gsap.to(pop,{
                    display:"none"
                })
                pop.querySelector("ul").style.display = "none"
            }

        })
    </script>
</nav>

<nav class="navbar navbar-expand-lg " th:fragment="headerUserFragment">
    <style>

        :root {
            --glow_color: rgba(57,219,81,1)
        }

        .profile-pic-banner-border-small{
            object-fit: cover;
            border-radius: 50%;
            height: 3em;
            width: 3em;
            align-self: flex-end;
        }

        .link-account{
            display: none;
            text-decoration: none;
            overflow: hidden;
            position: absolute;
            z-index: 300;
            margin-top: .5em;
            border-radius: 5px;
            background-color: aliceblue;
            background: radial-gradient(circle, rgba(251,242,235,1) 0%, rgba(221,229,239,1) 100%);
            border: 1px solid #ccc;
            box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
            width: 9.7em;
        }

        .link-account a{
            display: block;
            padding: .2em .5em;
            font-size: 1.1rem;
            text-decoration: none;

            transition: all .2s ease-in-out;
            width: auto;
            text-align: start;
        }

        .link-account a:hover{
            background-color: ghostwhite;
            cursor: pointer;
            padding: .3em 1em;
            transform: scale(1.1);
        }

        .activer, .btn:hover {
            transform: scale(1.1);
            box-shadow: 0px 0px 19px 1px var(--glow_color,rgba(57,219,81,1));
        }

        .btn{
            padding: 0em;
            border-radius: 50%;
            border: 1px solid rgb(0,0,0,0.5);
        }
        .btn-recherche{
            background-color: transparent;
            border: 0px;
        }
    </style>
    <div class="container">
        <a class="navbar-brand nom-site" th:href="@{/index}"> <h3>ArtSync</h3></a>
        <div class="navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link mx-2" th:href="@{/}"><i class=" pe-2"></i>Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" th:href="@{/explorer}"><i class=" pe-2"></i>Explorer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" th:href="@{/feed}"><i class=" pe-2"></i>Feed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" th:href="@{/forum}">Forum</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/recherche(filtre='UTILISATEUR')}" type="button" class="btn-recherche" id="open-option-recherche">Recherche</a>
                </li>
                <li class="nav-item ms-3 option-user ">
                    <button type="button" class="btn" id="open-option-user">
                        <img th:src="@{/media/images/{image}(image=${session.user.getPhotoUrl()})}" alt="photo de profil" class="profile-pic-banner-border-small">
                    </button>
                    <div class="link-account">
                        <a th:href="@{/utilisateur/profil/{username}(username=${session.user.getPseudo()})}">Profil</a>
                        <a th:href="@{/utilisateur/relation}">Relations</a>
                        <a th:href="@{/utilisateur/conversation}">Conversations</a>
                        <a th:href="@{/utilisateur/relation/groupes}">Groupes</a>
                        <a th:href="@{/utilisateur/profil/settings}">Paramètres</a>
                        <a th:href="@{/deconnexion}">Deconnexion</a>
                    </div>
                </li>
                <li class="iconButton">
                    <img id="pfpIconMobile" style="height: 3rem; width: 3rem" th:src="@{/media/images/{image}(image=${session.user.getPhotoUrl()})}" alt="photo de profil" class="profile-pic-banner-border-small">
                    <div class="headerPopup">
                        <ul>
                            <li>
                                <a th:href="@{/}">Accueil</a>
                            </li>
                            <li>
                                <a th:href="@{/explorer}">Explorer</a>
                            </li>
                            <li>
                                <a th:href="@{/forum}">Forum</a>
                            </li>
                            <li>
                                <a th:href="@{/recherche(filtre='UTILISATEUR')}">Rechercher</a>
                            </li>
                            <hr>
                            <li>
                                <a th:href="@{/utilisateur/profil/{username}(username=${session.user.getPseudo()})}">Profil</a>
                            </li>
                            <li>
                                <a th:href="@{/feed}">Feed</a>
                            </li>
                            <li>
                                <a th:href="@{/utilisateur/relation}">Relations</a>
                            </li>
                            <li>
                                <a th:href="@{/utilisateur/conversation}">Conversations</a>
                            </li>
                            <li>
                                <a th:href="@{/utilisateur/relation/groupes}">Groupes</a>
                            </li>
                            <li>
                                <a th:href="@{/utilisateur/profil/settings}">Paramètres</a>
                            </li>
                            <li>
                                <a th:href="@{/deconnexion}">Deconnexion</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script>
        const menuicon = document.querySelector(".iconButton")
        const pop = document.querySelector(".headerPopup")
        const pfp = document.getElementById("pfpIconMobile")
        let open = false
        menuicon.addEventListener("click",function(){
            if (!open){
                open =true
                pop.style.display = "flex"
                gsap.to(pop,{
                    height:"30rem",
                    duration:0.5,
                    delay:0.4,
                    opacity: 1,
                    ease:"back"
                })
                if (localStorage.getItem("glowColor")){
                    gsap.to(pfp,{
                        boxShadow:"0px 0px 19px 1px "+localStorage.getItem("glowColor")
                    })
                }else{
                    gsap.to(pfp,{
                        boxShadow:"0px 0px 19px 1px rgba(57,219,81,1)"
                    })
                }

                pop.querySelector("ul").style.display = "flex"
                pop.querySelector("ul").querySelectorAll("li").forEach(listItem =>{
                    listItem.style.display = "list-item"
                    gsap.to(listItem,{
                        height:"fit-content",
                        duration:0.1,
                        delay:0.4,
                    })
                })
            }else{
                open = false

                gsap.to(pop,{
                    height:"1rem",
                    duration:0.1,
                    ease:"sine",
                    opacity: 0
                })
                gsap.to(pop,{
                    display:"none"
                })
                gsap.to(pfp,{
                    boxShadow:"0px 0px 0px 0px",
                    duration:0.5
                })
                pop.querySelector("ul").style.display = "none"
                pop.querySelector("ul").querySelectorAll("li").forEach(listItem =>{

                    gsap.to(listItem,{
                        height:"0rem",
                        duration:0.1,
                        delay:0.2,
                    })
                    listItem.style.display = "none"
                })
            }

        })
    </script>
    <script>
        let openOptionUser = document.getElementById("open-option-user");
        openOptionUser.addEventListener("click", () => {
            openOptionUser.classList.toggle("activer");
            let content = openOptionUser.nextElementSibling;
            console.log(content);
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        })

        let openOptionRecherche = document.getElementById("open-option-recherche");
        openOptionRecherche.addEventListener("click", () => {

            let contentRecherche = openOptionRecherche.nextElementSibling;
            console.log(contentRecherche);
            if (contentRecherche.style.display === "block") {
                contentRecherche.style.display = "none";
            } else {
                contentRecherche.style.display = "block";
            }
        })
        var style = getComputedStyle(document.body)
        if (localStorage.getItem("glowColor")){
            document.querySelector(':root').style.setProperty('--glow_color', localStorage.getItem("glowColor"))
        }

    </script>
</nav>
