<!--Navbar vertical-->
<div th:fragment="groupHeaderFragment" class="content">
    <div class="verticalNavbar">
        <h4>VOS PROJETS</h4>
        <hr>
        <!--Projet de l'utilisateur-->
        <div class="projectHolder">
            <a th:href="@{/groupe/group/{projetId}(projetId=${projet.getId()})}" th:each="projet : ${projets}" class="project">
                <img th:src="@{/media/images/{image}(image=${projet.getProjetPhoto()})}" alt="">
                <h3>[[${projet.getTitre()}]]</h3>
            </a>
            <a th:href="@{/recherche(filtre='GROUPE')}" class="add">
                <i class="bi bi-plus-square"></i>
                <p>Ajouter un projet</p>
            </a>
        </div>
        <h4  id="optionsHr">OPTIONS</h4>
        <hr>
        <!--Options de la navbar-->
        <div class="navbarOptions">
            <a th:if="${projet.getAdmin() != null and session.user != null and projet.getAdmin().getId() == session.user.getId()}" href="" class="leaveBtn"> SUPPRIMER <i class="bi bi-trash"></i></a>
            <a th:if="${projet.getAdmin() != null and session.user != null and projet.getAdmin().getId() != session.user.getId()}" href="" class="leaveBtn"> QUITTER <i class="bi bi-box-arrow-right"></i></a>
        </div>
    </div>

    <!--Contenu du projet courant-->
    <div class="projectContent" th:object="${projet}">


        <!--Parti gauche du projet-->
        <div class="projectContainer1">
            <!--Date et bouttons-->
            <div class="projectInfo">
                <p> Commencé en [[${projet.dateCreation}]]</p> <p class="optionBtns"><i class="bi bi-question-lg"></i> <i class="bi bi-star"></i> <i class="bi bi-three-dots-vertical"></i></p>
            </div>
            <!--Titre et dernière mise à jour-->
            <div class="projectHeader">
                <h3>[[${projet.titre}]]</h3>
                <p>Mis à jour le [[${projet.dateModification}]]</p>
            </div>
            <!--Options du projet-->
            <div class="options">
                <a th:href="@{/groupe/group/{projetId}(projetId=${projet.getId()})}" class="optionSelected">Tableau de Bord</a>
                <a th:href="@{/groupe/group-tache/{projetId}(projetId=${projet.getId()})}">Tâche</a>
                <a href="">Conversation</a>
                <a th:if="${projet.getAdmin() != null and session.user != null and projet.getAdmin().getId()==session.user.getId()}" href="">Demande</a>
                <a th:if="${projet.getAdmin() != null and session.user != null and projet.getAdmin().getId()==session.user.getId()}" href="">Gestion</a>
            </div>
            <!--Membres et fichiers-->
            <div class="projectInfoContent">
                <div class="userCount">
                    <div><p>Membres</p></div>
                    <a th:href="@{/groupe/group-users/{projetId}(projetId=${projet.getId()})}" class="userContent"><p th:text="${nbMembres}"></p> <i class="bi bi-people"></i></a>
                </div>
                <div class="vr"></div>
                <div class="fileButton">
                    <a href=""><i class="bi bi-card-image"></i> <span th:text="${nbFichiers }" ></span> fichiers</a>
                </div>
            </div>
            <hr>


